/* breadcrumb style */
.title-page {
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  color: #231f20;
  margin-bottom: 10px;
}

.sub-title-page {
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  color: #231f20;
  margin-bottom: 20px;
}

.text-unactive {
  color: #231f20;
}

.text-active {
  color: #21409a;
  cursor: pointer;
}

.line-separator {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

/* card style */
.card {
  .profile-image {
    object-fit: cover;
    border-radius: 50%;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.card-data {
  margin: 1rem 0;
  .title {
    color: #64748b;
    font-size: 0.8rem;
  }

  .data {
    font-size: 1rem;
  }
}

.card-body p {
  margin: 0;
  font-size: 1rem;
}

.card-item {
  border-radius: 20px;
  box-shadow: none;
  border: 1px solid #e5e5e5;

  .card-title {
    font-size: 1.2rem;
  }
}

/* bootstrap custom style */
.bg-secondary {
  background-color: #f7f9ff !important;
}

.btn-secondary {
  color: #fff;
  background-color: #94a3b8;
  border: none;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.card-header {
    background-color: white !important;
}
