<div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="d-flex justify-content-between top-header">
        <div class="row">
            <div class="col-12">
                <div class="title-page">Dokter</div>
                <div class="sub-title-page">
                    <a class="text-unactive">
                        <span>Layanan Kesehatan</span>
                    </a>
                    <a class="text-unactive">
                        <span class="px-1">/</span>
                        <span>Telemedicine</span>
                    </a>
                    <a class="text-active">
                        <span class="px-1">/</span>
                        <span>Dokter</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-outline-primary" [routerLink]="['/kesehatan/telemedicine/dokter']">
                <em class="fa fa-arrow-left font-size-14 align-middle me-2"></em> Kembali
            </button>
        </div>
    </div>

    <!-- Data -->
    <div class="row">

        <!-- Profil Dokter -->
        <div class="col-lg-3 col-md-3 stick-card">
            <div class="card">
                <div class="card-body text-center">
                    <img class="profile-image w-75"
                        [src]="data.profile_picture ? data.profile_picture : 'assets/images/users/avatar-1.jpg'" alt="">
                    <div class="profile-detail mt-3">
                        <h5 class="card-title">{{ data.full_name }}</h5>
                        <p class="card-text">{{ data.gender == "P" ? 'Perempuan': 'Laki - Laki' }}</p>
                    </div>
                </div>
                <hr class="line-separator">
                <div class="card-body">
                    <div class="card-data">
                        <h5 class="title">Email</h5>
                        <p class="data font-weight-bolder">{{ data.email }}</p>
                    </div>
                    <div class="card-data">
                        <h5 class="title">No Telp</h5>
                        <p class="data font-weight-bolder">{{ data.phone_number }}</p>
                    </div>
                    <div class="card-data">
                        <h5 class="title">Status</h5>
                        <p class="data font-weight-bolder">{{ data.status }}</p>
                    </div>
                    <div class="d-flex">
                        <!-- Block button -->
                        <button *ngIf="data.status == 'active'" class="btn btn-outline-danger w-100"
                            (click)="blockDoctor()">
                            Block
                        </button>

                        <!-- Unblock button -->
                        <button *ngIf="data.status == 'inactive'" class="btn btn-outline-success w-100"
                            (click)="unblockDoctor()">
                            Unblock
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Detail  -->
        <div class="col-lg-9 col-md-9">

            <!-- Data Pribadi -->
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="font-weight-bolder mb-0">Data Pribadi</h4>
                    <button class="btn btn-primary" *ngIf="!isEditData" (click)="updateState()">
                        <i class="fas fa-pencil-alt"></i>
                        Ubah
                    </button>
                </div>
                <div class="card-body p-0">
                    <div class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">No. STR</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ no_str }}</p>
                        </div>
                    </div>
                    <div class="row py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Masa berlaku STR</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.str_date }}</p>
                        </div>
                    </div>
                    <div class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Masa berlaku SIP</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.sip_date }}</p>
                        </div>
                    </div>
                    <div class="row py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Start Experience</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.start_experience }}</p>
                        </div>
                    </div>
                    <div class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Provinsi</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.province_name }}</p>
                        </div>
                    </div>
                    <div class="row py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Kab/Kota</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.regency_name }}</p>
                        </div>
                    </div>
                    <div *ngIf="!isEditData" class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Specialist</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.specialist ? data.specialist : '-' }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- View Riwayat Pendidikan -->
            <div class="card" *ngIf="!isEditData">
                <div class="card-header d-flex justify-content-between align-items-center py-4">
                    <h4 class="font-weight-bolder mb-0">Riwayat Pendidikan</h4>
                </div>
                <div class="card-body p-0">

                    <!-- If educations data not empty -->
                    <ng-container *ngIf="data.educations.length > 0">
                        <ng-container *ngFor="let item of data.educations">
                            <div class="row bg-secondary py-3 px-2">
                                <div class="col-md-4 d-flex justify-content-between">
                                    <p class="font-weight-bolder">Universitas</p>
                                    <p>:</p>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ item.education }}</p>
                                </div>
                            </div>
                            <div class="row py-3 px-2">
                                <div class="col-md-4 d-flex justify-content-between">
                                    <p class="font-weight-bolder">Tahun</p>
                                    <p>:</p>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ item.graduation_year }}</p>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                    <!-- If educations data is empty -->
                    <ng-container *ngIf="data.educations.length == 0">
                        <div class="row bg-secondary py-3 px-2">
                            <div class="col-md-12 text-center">
                                <p>Data tidak ditemukan</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- Update Riwayat Pendidikan -->
            <div class="card" *ngIf="isEditData">
                <div class="card-header d-flex justify-content-between align-items-center py-4">
                    <h4 class="font-weight-bolder mb-0">Riwayat Pendidikan</h4>
                    <button class="btn btn-outline-primary" (click)="openModal(add_education_form)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-body bg-secondary">
                    <div class="card card-item w-100" *ngFor="let item of data.educations">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">{{ item.education }}</h5>
                                    <p class="card-text">{{ item.graduation_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Update Spesialis -->
            <div class="card" *ngIf="isEditData">
                <div class="card-header d-flex justify-content-between align-items-center py-4">
                    <h4 class="font-weight-bolder mb-0">Spesialis</h4>
                    <button class="btn btn-outline-primary" (click)="openModal(add_specialist_form)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-body bg-secondary">
                    <div class="card card-item w-100" *ngFor="let item of data.doctor_specialists">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">{{ item.specialist }}</h5>
                                    <p class="card-text">Tarif: Rp. {{ item.rate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- View Tempat Praktek -->
            <div class="card" *ngIf="!isEditData">
                <div class="card-header d-flex justify-content-between align-items-center py-4">
                    <h4 class="font-weight-bolder mb-0">Tempat Praktek</h4>
                </div>
                <div class="card-body p-0">
                    <div class="row py-3 px-2" *ngFor="let item of data.facilities; index as i"
                        [class.bg-secondary]="i % 2 == 0">
                        <p class="col-12">{{ i + 1}}. <b>{{ item.name }}</b> {{ item.province_name }}, {{
                            item.regency_name }}</p>
                    </div>
                </div>
            </div>

            <!-- Update Tempat Praktek -->
            <div class="card" *ngIf="isEditData">
                <div class="card-header d-flex justify-content-between align-items-center py-4">
                    <h4 class="font-weight-bolder mb-0">Tempat Praktek</h4>
                    <button class="btn btn-outline-primary" (click)="openModal(add_facilities_form)">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="card-body bg-secondary">
                    <div class="card card-item w-100" *ngFor="let item of data.facilities; index as i">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <p class="card-text">{{item.province_name}}, {{ item.regency_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Jadwal Praktek -->
            <div class="card" *ngIf="!isEditData">
                <div class="card-header d-flex justify-content-between align-items-center py-4">
                    <h4 class="font-weight-bolder mb-0">Jadwal Praktek</h4>
                </div>
                <div class="card-body p-0">
                    <div class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Minggu</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.doctor_schedules.sunday ? data.doctor_schedules.sunday : '-' }}</p>
                        </div>
                    </div>
                    <div class="row py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Senin</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.doctor_schedules.monday ? data.doctor_schedules.monday : '-' }}</p>
                        </div>
                    </div>
                    <div class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Selasa</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.doctor_schedules.tuesday ? data.doctor_schedules.tuesday : '-' }}</p>
                        </div>
                    </div>
                    <div class="row py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Rabu</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.doctor_schedules.wednesday ? data.doctor_schedules.wednesday : '-' }}</p>
                        </div>
                    </div>
                    <div class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Kamis</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.doctor_schedules.thursday ? data.doctor_schedules.thursday : '-' }}</p>
                        </div>
                    </div>
                    <div class="row py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Jum'at</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.doctor_schedules.friday ? data.doctor_schedules.friday : '-' }}</p>
                        </div>
                    </div>
                    <div class="row bg-secondary py-3 px-2">
                        <div class="col-md-4 d-flex justify-content-between">
                            <p class="font-weight-bolder">Sabtu</p>
                            <p>:</p>
                        </div>
                        <div class="col-md-8">
                            <p>{{ data.doctor_schedules.saturday ? data.doctor_schedules.saturday : '-' }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button Action -->
            <div class="action d-flex justify-content-between" *ngIf="isEditData">
                <div class="row w-100">
                    <div class="col-md-6">
                        <button class="btn btn-outline-secondary w-100" (click)="closeUpdate()">Batal</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-secondary w-100" (click)="save()">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #add_education_form let-modal>
    <div class="modal-header">
        <h4 class="modal-title my-auto font-weight-bold font-size-24">
            Tambah Riwayat Pendidikan
        </h4>
        <button type="button" class="close my-auto" (click)="modal.close()" aria-label="Close">
            <i class="mdi mdi-close-thick"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="university" class="mb-0">Nama Universitas</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="university" placeholder="Masukkan nama universitas"
                    [(ngModel)]="educationForm.education" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="year" class="mb-0">Tahun Lulus</label>
            </div>
            <div class="col-md-9">
                <input type="number" class="form-control" id="year" placeholder="2020"
                    [(ngModel)]="educationForm.graduation_year" />
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-around">
        <button (click)="modal.close()" class="btn btn-outline-primary w-25">Batal</button>
        <button (click)="saveEducationModal(); modal.close()" class="btn btn-primary w-25">Tambahkan</button>
    </div>
</ng-template>

<ng-template #add_specialist_form let-modal>
    <div class="modal-header">
        <h4 class="modal-title my-auto font-weight-bold font-size-24">
            Tambah Spesialis Dokter
        </h4>
        <button type="button" class="close my-auto" (click)="modal.close()" aria-label="Close">
            <i class="mdi mdi-close-thick"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="specialist" class="mb-0">Spesialis</label>
            </div>
            <div class="col-md-9">
                <ng-select [items]="listSpecialist" bindLabel="name" placeholder="Pilih spesialis"
                    [(ngModel)]="selectedSpecialist"></ng-select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="rate" class="mb-0">Rate (Rp)</label>
            </div>
            <div class="col-md-9">
                <input type="number" class="form-control" id="rate" placeholder="50.000"
                    [(ngModel)]="specialistForm.rate" (input)="formatCurrency($event)" />
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-around">
        <button (click)="modal.close()" class="btn btn-outline-primary w-25">Batal</button>
        <button (click)="saveSpecialistModal(); modal.close()" class="btn btn-primary w-25">Tambahkan</button>
    </div>
</ng-template>

<ng-template #add_facilities_form let-modal>
    <div class="modal-header">
        <h4 class="modal-title my-auto font-weight-bold font-size-24">
            Tambah Tempat Praktek
        </h4>
        <button type="button" class="close my-auto" (click)="modal.close()" aria-label="Close">
            <i class="mdi mdi-close-thick"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="specialist" class="mb-0">Spesialis</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="specialist" placeholder="Masukkan nama tempat praktek"
                    [(ngModel)]="facilityForm.name" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="rate" class="mb-0">Provinsi</label>
            </div>
            <div class="col-md-9">
                <ng-select [items]="listProvince" bindLabel="name" placeholder="Pilih provinsi"
                    [(ngModel)]="selectedProvince"
                    (change)="getRegion(selectedProvince.id); selectedRegion = {}"></ng-select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="rate" class="mb-0">Kab/kota</label>
            </div>
            <div class="col-md-9">
                <ng-select [items]="listRegion" bindLabel="name" placeholder="Pilih kab/kota"
                    [(ngModel)]="selectedRegion"></ng-select>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-around">
        <button (click)="modal.close()" class="btn btn-outline-primary w-25">Batal</button>
        <button (click)="saveFacilityModal(); modal.close()" class="btn btn-primary w-25">Tambahkan</button>
    </div>
</ng-template>