.title-page {
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    color: #231f20;
    margin-bottom: 10px;
  }
  
  .sub-title-page {
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    color: #231f20;
    margin-bottom: 20px;
  }

  .text-unactive {
    color: #231f20;
  }
  
  .text-active {
    color: #21409a;
    cursor: pointer;
  }

.btn-wa {
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0.028em;
    text-transform: uppercase;
    min-width: 64px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 8px 22px;
    background-color: #2C8424;
    color: #fff;
    font-size: 14px;
    border: 1px solid #2C8424;
}

.top-header>div:last-child svg {
    font-size: 20px;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-bottom: 2px;
    fill: white;
}

.keyheader {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 32px 20px 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: white;
}

.keyvalue {
    width: 100%;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    min-height: 64px;
    align-items: center;
    padding: 20px 32px 20px 20px;
}

.keyvalue .row>div:first-child {
    font-weight: 800;
}

.keyvalue .row>div:nth-child(2) {
    font-weight: 500;
}

.keyvalue svg.cross,

.keyvalue svg.check,

.keyvalue circle {
    font-size: 16px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: white
}

.circle {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
}

.circle svg {
    margin-top: -0.25em;
    margin-left: 0.25em;
}

.circle.check {
    background-color: #17804b;
}

.circle.cross {
    background-color: #21409A;
}

.bg-second {
    background-color: #ebeced;
}

.info:first-child {
    margin-top: 0 !important;
}

// .info>div:first-child {
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
// }

// .info>div:last-child {
//     border-bottom-left-radius: 8px;
//     border-bottom-right-radius: 8px;
// }

// .roundedbrl-8 {
//     border-bottom-left-radius: 8px;
//     border-bottom-right-radius: 8px;
// }

// .roundedtrl-8 {
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
// }

label {
    font-weight: 600 !important;
}

.catatan {
    height: 105px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: inherit;
    color: #212529;
    margin: 0;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
}

.ng-select.custom ::ng-deep {
    min-width: 100%;
}

.ng-select.custom ::ng-deep .ng-value-label, .ng-select.custom ::ng-deep .ng-placeholder {
    font-size: 0.8125rem;
}

.ng-select.custom ::ng-deep .ng-option-label {
    font-size: 0.8125rem;
}

.ng-select.custom ::ng-deep .ng-input {
    left: -5px !important;
    top: -3px !important;
}

::ng-deep .swal2-popup {
    padding-top: 2rem;
}

.status_dokumen {
    text-align: center;
    font-size: 0.8125rem;
    white-space: nowrap;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    max-width: 180px;
    min-width: 180px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.status-success {
    color: #2C8424;
    border: 1px solid #2C8424;
    background-color: #EDFFF5;
}

.status-warning {
    color: #F2994A;
    border: 1px solid #F2994A;
    background-color: #FFF7EF;
}

.status-secondary {
    color: rgb(76, 70, 80);
    border: 0.5px solid rgb(76, 70, 80);
    background-color: #e6e6e6;
}

.status-danger {
    color: #EB5757;
    border: 1px solid #EB5757;
    background-color: #FFE8E8;
}

.status-semi {
    color: rgb(76, 70, 80);
    border: 0.5px solid rgb(76, 70, 80);
    background-color: rgb(231, 244, 237);
}

.stick-card {
    position: sticky;
    top: 80px;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
}

.stick-card::-webkit-scrollbar {
    display: none;
}

.stick-card {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.rounded-8 {
    border-radius: 8px;
}

.text-gray {
    color: #64748B;
}

.cursor-pointer {
    cursor: pointer;
}

.profile-image-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line-separator {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.info-dokter {
    margin-bottom: 1rem;
}

.info-description {
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.info-sub {
    font-size: 18px;
    font-weight: 700;
}

