@media (max-width: 992px) {
  .topbar {
    width: 100%;
    left: 0;
  }
}

@media (min-width: 992px) {
  .topbar {
    width: calc(100% - 300px);
    left: 300px;
  }

  .topbar-shrink {
    width: calc(100% - 100px) !important;
    left: 100px !important;
  }
}
