<div
  class="d-flex align-items-center justify-content-between px-4 custom-transition topbar{{
    leftSidebarGrow ? '' : ' topbar-shrink'
  }}"
  style="
    height: 75px;
    background-color: white;
    box-shadow: 1rem 1rem 1.5rem rgba(18, 38, 63, 0.03);
    position: fixed;
    top: 0;
    z-index: 1001;
  "
>
  <div
    class="d-lg-none"
    style="cursor: pointer"
    (click)="toggleLeftSidebarOpen()"
  >
    <img
      src="assets/icon/sidebar-{{ leftSidebarOpen ? 'open' : 'close' }}.svg"
      alt="Menu Bar Icon"
    />
  </div>

  <div
    class="d-none d-lg-block"
    style="cursor: pointer"
    (click)="toggleLeftSidebarGrow()"
  >
    <img
      src="assets/icon/sidebar-{{ leftSidebarGrow ? 'open' : 'close' }}.svg"
      alt="Menu Bar Icon"
    />
  </div>

  <div
    style="cursor: pointer"
    (click)="toggleRightSidebarOpen()"
    class="d-flex align-items-center"
  >
    <div
      style="font-weight: 500; text-align: right"
      class="mx-3 d-none d-lg-block"
    >
      <p style="color: #111; font-size: 1rem; font-weight: 600">
        {{ profile.Fullname }}
      </p>
      <p style="font-size: 14px; color: #3f4144">{{ profile.Permission[0] }}</p>
    </div>
    <img
      style="width: 45px; height: 45px; border-radius: 45px"
      src="{{
        profile.Image
          ? profile.Image
          : 'https://dummyimage.com/450x450/45BF7C/fff&text=' +
            profile.Fullname.at(0)
      }}"
      [alt]="profile.Fullname"
    />
  </div>
</div>
