.w-40-h-auto {
  width: 40px;
  height: auto;
}

.gap-2 {
  gap: 1rem;
}

.text-right {
  text-align: right;
}

.text-base {
  font-size: 1rem;
}

.text-xxs {
  font-size: 0.75rem;
}

.text-A8A8A8 {
  color: #A8A8A8;
}

.text-xl{
  font-size: 18px;
}

.text-hover-none:hover {
  color: black;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.font-bold {
  font-weight: 700;
}
