@media screen and (min-width: 992px) {
    .position-lg-static {
        position: static !important;
    }
}

.left-sidebar {
  width: 300px !important;
}

@media (min-width: 992px) {
  .left-sidebar-shrink {
    width: 100px !important;
  }
}



/*
  * Sidebar Menu List
*/
.active-font-color {
  color: #21409A !important;
}

.non-active-font-color {
  color: #686868 !important;
}

.non-active-font-color-2 {
  color: #B9B9B9 !important;
}

.sidebar-style {
  cursor: pointer;
  border-radius: 12px;
  text-decoration: none;
  position: relative;
}

.sidebar-shrink-style {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: calc(100% + .25rem);
  min-width: 200px;
  width: fit-content;
  min-height: 55px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 1;
  transition: 0.5s;
  transform: scale(0.5);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-shrink-style-submenu {
  cursor: default;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: calc(100% + .25rem);
  min-width: 200px;
  width: fit-content;
  min-height: 55px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 1;
  transition: 0.5s;
  transform: scale(0.5);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-shrink-style-submenu-1 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: calc(100% + .25rem);
  min-width: 200px;
  width: fit-content;
  min-height: 55px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 1;
  transition: 0.5s;
  transform: scale(0.5);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-shrink-style-submenu-2 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: calc(100% + .25rem);
  min-width: 200px;
  width: fit-content;
  min-height: 55px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 1;
  transition: 0.5s;
  transform: scale(0.5);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-style:hover {
  .sidebar-shrink-style {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }

  .sidebar-shrink-style-submenu {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

.sidebar-style-1:hover {
  .sidebar-shrink-style-1 {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }

  .sidebar-shrink-style-submenu-1 {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

.sidebar-style-2:hover {
  .sidebar-shrink-style-2 {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }

  .sidebar-shrink-style-submenu-2 {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

.label-style-shrink {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #1E1E1E;
}

.shrink-active-state {
  background-color: #ECF9F2 !important;
}

.sidebar-shrink-style:hover {
  background-color: #F5F5F5;
}

.label-style {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.active-state > div > p {
  font-weight: 500 !important;
}

.line-down-sidebar {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 100vh;
  background-color: #F5F6F8;
}

.icon-style {
  font-size: 14px;
  color: #1e1e1e;
  transition: 0.5s;
  transform: rotate(0deg);
}

.icon-style-2 {
  font-size: 14px;
  color: #4B4B4B;
  transition: 0.5s;
  transform: rotate(0deg);
}

.icon-style-active {
  color: #21409A;
  transition: 0.5s;
  transform: rotate(90deg);
}

.sidebar-menu-list-state {
  border: 0.5px solid transparent;
  color: #1e1e1e;
}

.sidebar-menu-list-state-2 {
  border: 0.5px solid transparent;
  color: #4B4B4B;
}

.sidebar-menu-list-state:hover {
  color: #21409A;

  .icon-style {
    color: #21409A;
  }
}

.sidebar-menu-list-state-2:hover {
  color: #21409A;

  .icon-style {
    color: #21409A;
  }
}

.sidebar-menu-list-state-shrink:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidebar-menu-list-state-shrink-1:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidebar-menu-list-state-shrink-2:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

@media (min-width: 992px) {
  .sidebar-menu-list-width {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 992px) {
  .sidebar-menu-list-width {
    width: 100%;
  }
}

.active-state {
  background-color: rgba(33, 64, 154, .10196078431372549) !important;
  border: 0.5px solid #21409a;
  color: #21409a!important;
}

.submenu-active-state {
  color: #21409A !important;
}

.accordion-close {
  max-height: 0;
  transition: max-height 500ms ease-out;
  overflow: hidden;
}

.accordion-open {
  max-height: 100vh;
  transition: max-height 500ms ease-in-out;
  overflow: hidden;
}