<div
  class="custom-transition position-absolute position-lg-static left-sidebar{{ leftSidebarGrow ? '' : ' left-sidebar-shrink' }}"
  [ngStyle]="{'left': leftSidebarOpen ? '0' : '-300px'}"
  style="min-height: 100vh; background-color: white; top: 0; z-index: 1003">
  <a routerLink="/dashboard" class="d-flex align-items-center justify-content-center" style="height: 75px; width: 100%">
    <img src="assets/image/DH_Logo/HealthID%20-%20logo%202.svg" alt="Company Logo Model 3" *ngIf="leftSidebarGrow" style="width:15%;margin-right: 3rem;" />
    <img src="assets/image/DH_Logo/HealthID%20-%20logo%202.svg" alt="Company Logo Model 3" *ngIf="!leftSidebarGrow" style="width:32%" />
    <p style="font-size: 0.9rem; font-weight: 600; white-space: nowrap; text-decoration: none; color: #1e1e1e"
      class="ms-2{{ leftSidebarGrow ? '' : ' d-lg-none' }}">Health ID Admin</p>
  </a>

  <div *ngIf="leftSidebarGrow" class="px-3 custom-scrollbar"
    style="max-height: calc( 100vh - 75px ); overflow-y: auto; overflow-x: hidden; padding-bottom: 2rem;">
    <div [ngClass]="leftSidebarGrow ? '' : 'd-lg-flex flex-lg-column align-items-lg-center justify-content-lg-center'">
      <ng-container *ngFor="let lvl1 of leftSidebarMenuList">
        <a *ngIf="!lvl1.subMenu && checkRoles(lvl1)" (click)="menuClickActive(lvl1.menuid)" id="{{lvl1.menuid}}"
          #rlalvl1="routerLinkActive" routerLinkActive="active-state" [routerLink]="lvl1.link"
          class="px-3 py-3 sidebar-style d-flex align-items-center justify-content-{{ leftSidebarGrow || leftSidebarOpen ? 'between ' : 'lg-center ' }}custom-transition sidebar-menu-list-state{{ !leftSidebarGrow ? ' sidebar-menu-list-state-shrink ' : ' ' }}mb-1{{ !leftSidebarGrow || leftSidebarOpen ? ' sidebar-menu-list-width' : '' }}">
          <div class="d-flex align-items-center">
            <img width="24px" height="24px"
              src="assets/icon/sidebar/{{ rlalvl1.isActive ? lvl1.icon + '-active' : lvl1.icon }}.svg"
              [alt]="lvl1.name" />
            <p class="label-style ms-2{{ leftSidebarGrow ? '' : ' d-lg-none' }}">{{ lvl1.name }}</p>
          </div>
        </a>

        <div *ngIf="lvl1.subMenu && checkRoles(lvl1)" (click)="menuClickActive(lvl1.menuid)" id="{{lvl1.menuid}}"
          #rlalvl1="routerLinkActive" routerLinkActive [routerLink]="lvl1.link">
          <div
            class="px-3 py-3 sidebar-style d-flex align-items-center justify-content-{{ leftSidebarGrow || leftSidebarOpen ? 'between ' : 'lg-center ' }} custom-transition sidebar-menu-list-state{{ !leftSidebarGrow ? ' sidebar-menu-list-state-shrink ' : ' ' }}mb-1{{ !leftSidebarGrow || leftSidebarOpen ? ' sidebar-menu-list-width' : '' }}{{ rlalvl1.isActive ? ' active-state' : '' }}"
            (click)="lvl1.subMenuActive = !lvl1.subMenuActive">
            <div class="d-flex align-items-center">
              <img width="24px" height="24px"
                src="assets/icon/sidebar/{{ rlalvl1.isActive ? lvl1.icon + '-active' : lvl1.icon }}.svg"
                [alt]="lvl1.name" />
              <p class="label-style ms-2{{ leftSidebarGrow ? '' : ' d-lg-none' }}">{{ lvl1.name }}</p>
            </div>

            <i
              class="fas fa-chevron-right{{ leftSidebarGrow ? '' : ' d-lg-none' }}{{ (rlalvl1.isActive || lvl1.subMenuActive) ? ' icon-style-active' : ' icon-style' }}"></i>
          </div>

          <div *ngIf="leftSidebarGrow || leftSidebarOpen">
            <div class="{{ isSubMenuActive(lvl1) ? ' accordion-open' : ' accordion-close'}}">
              <ng-container *ngFor="let lvl2 of lvl1.subMenu">
                <a *ngIf="!lvl2.subMenu && checkRoles(lvl2)" (click)="menuClickActive(lvl2.menuid)" id="{{lvl2.menuid}}"
                  #rlalvl2="routerLinkActive" routerLinkActive="submenu-active-state"
                  [routerLink]="lvl1.link + lvl2.link"
                  class="ps-5 pe-3 py-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-2 mb-1">
                  <div class="d-flex align-items-center">
                    <img src="assets/icon/sidebar/{{ rlalvl2.isActive ? 'folder-active' : 'folder' }}.svg"
                      [alt]="lvl2.name" />
                    <p class="label-style ms-2">{{ lvl2.name }}</p>
                  </div>

                  <div class="line-down-sidebar" style="left: 10%;"></div>
                </a>

                <div *ngIf="lvl2.subMenu && checkRoles(lvl2)" (click)="menuClickActive(lvl2.menuid)"
                  id="{{lvl2.menuid}}" #rlalvl2="routerLinkActive" routerLinkActive
                  [routerLink]="lvl1.link + lvl2.link">
                  <div
                    class="ps-5 pe-3 py-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-2 mb-1{{ rlalvl2.isActive ? ' submenu-active-state' : '' }}"
                    (click)="lvl2.subMenuActive = !lvl2.subMenuActive">
                    <div class="d-flex align-items-center">
                      <img src="assets/icon/sidebar/{{ rlalvl2.isActive ? 'folder-active' : 'folder' }}.svg"
                        [alt]="lvl2.name" />
                      <p class="label-style ms-2">{{ lvl2.name }}</p>
                    </div>

                    <i
                      class="fas fa-chevron-right{{ (rlalvl2.isActive || lvl2.subMenuActive) ? ' icon-style-active' : ' icon-style-2' }}"></i>

                    <div class="line-down-sidebar" style="left: 10%;"></div>
                  </div>

                  <div class="{{ isSubMenuActive(lvl2) ? ' accordion-open' : ' accordion-close'}}">
                    <ng-container *ngFor="let lvl3 of lvl2.subMenu">
                      <a *ngIf="!lvl3.subMenu && checkRoles(lvl3)" (click)="menuClickActive(lvl3.menuid)"
                        id="{{lvl3.menuid}}" #rlalvl3="routerLinkActive" routerLinkActive="submenu-active-state"
                        [routerLink]="lvl1.link + lvl2.link + lvl3.link"
                        class="pe-3 py-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-2 mb-1"
                        style="padding-left: 5rem;">
                        <div class="d-flex align-items-center">
                          <img src="assets/icon/sidebar/{{ rlalvl3.isActive ? 'dot-active' : 'dot' }}.svg"
                            [alt]="lvl3.name" />
                          <p class="label-style ms-2" style="white-space: normal">{{ lvl3.name }}</p>
                        </div>

                        <div class="line-down-sidebar" style="left: 10%;"></div>
                        <div class="line-down-sidebar" style="left: 22%;"></div>
                      </a>

                      <div *ngIf="lvl3.subMenu && checkRoles(lvl3)" (click)="menuClickActive(lvl3.menuid)"
                        id="{{lvl3.menuid}}" #rlalvl3="routerLinkActive" routerLinkActive
                        [routerLink]="lvl1.link + lvl2.link + lvl3.link">
                        <div
                          class="pe-3 py-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-2 mb-1{{ rlalvl3.isActive ? ' submenu-active-state' : '' }}"
                          (click)="lvl3.subMenuActive = !lvl3.subMenuActive" style="padding-left: 5rem;">
                          <div class="d-flex align-items-center">
                            <img src="assets/icon/sidebar/{{ rlalvl3.isActive ? 'dot-active' : 'dot' }}.svg"
                              [alt]="lvl3.name" />
                            <p class="label-style ms-2" style="white-space: normal">{{ lvl3.name }}</p>
                          </div>

                          <i
                            class="fas fa-chevron-right{{ (rlalvl3.isActive || lvl3.subMenuActive) ? ' icon-style-active' : ' icon-style-2' }}"></i>

                          <div class="line-down-sidebar" style="left: 10%;"></div>
                          <div class="line-down-sidebar" style="left: 22%;"></div>
                        </div>

                        <div class="{{ isSubMenuActive(lvl3) ? ' accordion-open' : ' accordion-close'}}">
                          <ng-container *ngFor="let lvl4 of lvl3.subMenu">
                            <a *ngIf="!lvl4.subMenu && checkRoles(lvl4)" (click)="menuClickActive(lvl4.menuid)"
                              id="{{lvl4.menuid}}" #rlalvl4="routerLinkActive" routerLinkActive="submenu-active-state"
                              [routerLink]="lvl1.link + lvl2.link + lvl3.link + lvl4.link"
                              class="pe-3 py-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-2 mb-1"
                              style="padding-left: 7rem;">
                              <div class="d-flex align-items-center">
                                <img src="assets/icon/sidebar/{{ rlalvl4.isActive ? 'dot-active' : 'dot' }}.svg"
                                  [alt]="lvl4.name" />
                                <p class="label-style ms-2" style="white-space: normal">{{ lvl4.name }}</p>
                              </div>

                              <div class="line-down-sidebar" style="left: 10%;"></div>
                              <div class="line-down-sidebar" style="left: 22%;"></div>
                              <div class="line-down-sidebar" style="left: 32.5%;"></div>
                            </a>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>

  <div *ngIf="!leftSidebarGrow" class="px-3" style="max-height: calc( 100vh - 75px )">
    <div class="d-lg-flex flex-lg-column align-items-lg-center justify-content-lg-center">
      <ng-container *ngFor="let lvl1 of leftSidebarMenuList">
        <a *ngIf="!lvl1.subMenu && checkRoles(lvl1)" (click)="menuClickActive(lvl1.menuid)" id="{{lvl1.menuid}}"
          #rlalvl1="routerLinkActive" routerLinkActive="active-state" [routerLink]="lvl1.link"
          class="px-3 py-2 sidebar-style d-flex align-items-center justify-content-{{ leftSidebarGrow || leftSidebarOpen ? 'between ' : 'lg-center ' }}custom-transition{{ !leftSidebarGrow ? ' sidebar-menu-list-state-shrink ' : ' ' }}mb-1{{ !leftSidebarGrow || leftSidebarOpen ? ' sidebar-menu-list-width' : '' }}">
          <div class="d-flex align-items-center">
            <img width="24px" height="24px"
              src="assets/icon/sidebar/{{ rlalvl1.isActive ? lvl1.icon + '-active' : lvl1.icon }}.svg"
              [alt]="lvl1.name" />
          </div>

          <div class="sidebar-shrink-style{{ rlalvl1.isActive ? ' shrink-active-state' : '' }}">
            <p class="label-style-shrink">{{ lvl1.name }}</p>
          </div>
        </a>

        <div *ngIf="lvl1.subMenu && checkRoles(lvl1)" (click)="menuClickActive(lvl1.menuid)" id="{{lvl1.menuid}}"
          #rlalvl1="routerLinkActive" routerLinkActive [routerLink]="lvl1.link">
          <div
            class="px-3 py-2 sidebar-style d-flex align-items-center justify-content-{{ leftSidebarGrow || leftSidebarOpen ? 'between ' : 'lg-center ' }} custom-transition{{ !leftSidebarGrow ? ' sidebar-menu-list-state-shrink ' : ' ' }}mb-1{{ !leftSidebarGrow || leftSidebarOpen ? ' sidebar-menu-list-width' : '' }}{{ rlalvl1.isActive ? ' active-state' : '' }}">
            <div class="d-flex align-items-center">
              <img width="24px" height="24px"
                src="assets/icon/sidebar/{{ rlalvl1.isActive ? lvl1.icon + '-active' : lvl1.icon }}.svg"
                [alt]="lvl1.name" />
            </div>

            <div class="sidebar-shrink-style-submenu" style="z-index: 1000000;">
              <p style="width: 100%; text-align: center; border-bottom: 2px solid #F5F6F8" class="label-style-shrink">{{
                lvl1.name }}</p>

              <div class="d-flex flex-column" style="width: 100%;">
                <ng-container *ngFor="let lvl2 of lvl1.subMenu">
                  <a *ngIf="!lvl2.subMenu && checkRoles(lvl2)" (click)="menuClickActive(lvl2.menuid)"
                    id="{{lvl2.menuid}}" #rlalvl2="routerLinkActive" routerLinkActive="submenu-active-state"
                    [routerLink]="lvl1.link + lvl2.link"
                    class="p-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-shrink"
                    style="border-radius: 0">
                    <div class="d-flex align-items-center">
                      <img src="assets/icon/sidebar/{{ rlalvl2.isActive ? 'folder-active' : 'folder-2' }}.svg"
                        [alt]="lvl2.name" />
                      <p
                        class="label-style ms-2{{ rlalvl2.isActive ? ' active-font-color' : ' non-active-font-color' }}">
                        {{ lvl2.name }}</p>
                    </div>
                  </a>

                  <div *ngIf="lvl2.subMenu && checkRoles(lvl2)" (click)="menuClickActive(lvl2.menuid)"
                    id="{{lvl2.menuid}}" #rlalvl2="routerLinkActive" routerLinkActive [routerLink]="lvl2.link">
                    <div
                      class="p-3 sidebar-style-1 d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-shrink"
                      style="cursor: pointer; position: relative;">
                      <div class="d-flex align-items-center me-3">
                        <img src="assets/icon/sidebar/{{ rlalvl2.isActive ? 'folder-active' : 'folder-2' }}.svg"
                          [alt]="lvl2.name" />
                        <p class="label-style ms-2">{{ lvl2.name }}</p>
                      </div>

                      <i
                        class="fas fa-chevron-right{{ rlalvl2.isActive ? ' active-font-color' : ' non-active-font-color' }}"></i>

                      <div class="sidebar-shrink-style-submenu-1">
                        <div class="d-flex flex-column" style="width: 100%;">
                          <ng-container *ngFor="let lvl3 of lvl2.subMenu">
                            <a *ngIf="!lvl3.subMenu && checkRoles(lvl3)" (click)="menuClickActive(lvl3.menuid)"
                              id="{{lvl3.menuid}}" #rlalvl3="routerLinkActive" routerLinkActive="submenu-active-state"
                              [routerLink]="lvl1.link + lvl2.link + lvl3.link"
                              class="p-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-shrink-1">
                              <div class="d-flex align-items-center">
                                <img src="assets/icon/sidebar/{{ rlalvl3.isActive ? 'dot-active' : 'dot-2' }}.svg"
                                  [alt]="lvl3.name" />
                                <p
                                  class="label-style ms-2{{ rlalvl3.isActive ? ' active-font-color' : ' non-active-font-color' }}">
                                  {{ lvl3.name }}</p>
                              </div>
                            </a>

                            <div *ngIf="lvl3.subMenu && checkRoles(lvl3)" (click)="menuClickActive(lvl3.menuid)"
                              id="{{lvl3.menuid}}" #rlalvl3="routerLinkActive" routerLinkActive
                              [routerLink]="lvl1.link + lvl2.link + lvl3.link">
                              <div
                                class="p-3 sidebar-style-2 d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-shrink-1"
                                style="cursor: pointer; position: relative;">
                                <div class="d-flex align-items-center me-3">
                                  <img src="assets/icon/sidebar/{{ rlalvl3.isActive ? 'dot-active' : 'dot-2' }}.svg"
                                    [alt]="lvl3.name" />
                                  <p
                                    class="label-style ms-2{{ rlalvl3.isActive ? ' active-font-color' : ' non-active-font-color' }}">
                                    {{ lvl3.name }}</p>
                                </div>

                                <i
                                  class="fas fa-chevron-right{{ rlalvl3.isActive ? ' active-font-color' : ' non-active-font-color' }}"></i>

                                <div class="sidebar-shrink-style-submenu-2">
                                  <div class="d-flex flex-column" style="width: 100%;">
                                    <ng-container *ngFor="let lvl4 of lvl3.subMenu">
                                      <a *ngIf="!lvl4.subMenu && checkRoles(lvl4)"
                                        (click)="menuClickActive(lvl4.menuid)" id="{{lvl4.menuid}}"
                                        #rlalvl4="routerLinkActive" routerLinkActive="submenu-active-state"
                                        [routerLink]="lvl1.link + lvl2.link + lvl3.link + lvl4.link"
                                        class="p-3 sidebar-style d-flex align-items-center justify-content-between custom-transition sidebar-menu-list-state-shrink-2">
                                        <div class="d-flex align-items-center">
                                          <img
                                            src="assets/icon/sidebar/{{ rlalvl4.isActive ? 'dot-active' : 'dot-2' }}.svg"
                                            [alt]="lvl4.name" />
                                          <p
                                            class="label-style ms-2{{ rlalvl4.isActive ? ' active-font-color' : ' non-active-font-color' }}">
                                            {{ lvl4.name }}</p>
                                        </div>
                                      </a>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>