<div class="container-fluid detail-digital">
    <div class="d-flex justify-content-between top-header">
        <div class="d-flex justify-content-start align-items-center">
            <!-- <svg [routerLink]="['/adjudicator/digital-id/ktp']"
                class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-33gu9c-MuiSvgIcon-root" focusable="false"
                viewBox="0 0 24 24" aria-hidden="true" data-testid="ChevronLeftIcon">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
            </svg> -->
            <p class="title">
                Perbandingan Data - {{docName}}
            </p>
        </div>
        <div class="d-flex justify-content-end">
            <div class="btn btn-wa btn-success rounded-8" (click)="callCenter()">
                <svg class="MuiSvgIcon-root MuiSvgIcon-color#fff MuiSvgIcon-fontSizeMedium css-jijyax-MuiSvgIcon-root"
                    focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="WhatsAppIcon">
                    <path
                        d="M16.75 13.96c.25.13.41.2.46.3.06.11.04.61-.21 1.18-.2.56-1.24 1.1-1.7 1.12-.46.02-.47.36-2.96-.73-2.49-1.09-3.99-3.75-4.11-3.92-.12-.17-.96-1.38-.92-2.61.05-1.22.69-1.8.95-2.04.24-.26.51-.29.68-.26h.47c.15 0 .36-.06.55.45l.69 1.87c.06.13.1.28.01.44l-.27.41-.39.42c-.12.12-.26.25-.12.5.12.26.62 1.09 1.32 1.78.91.88 1.71 1.17 1.95 1.3.24.14.39.12.54-.04l.81-.94c.19-.25.35-.19.58-.11l1.67.88M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10c-1.97 0-3.8-.57-5.35-1.55L2 22l1.55-4.65A9.969 9.969 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8c0 1.72.54 3.31 1.46 4.61L4.5 19.5l2.89-.96A7.95 7.95 0 0 0 12 20a8 8 0 0 0 8-8 8 8 0 0 0-8-8z">
                    </path>
                </svg>
                CHAT VIA WHATSAPP
            </div>
        </div>
    </div>
    <div class="px-3">
        <div class="row mt-4">
            <div class="col-lg-7 col-md-7 px-2">
                <div class="row info px-3 mt-3" *ngFor="let keyHeader of getKeyObject(listViewInfo); index as j">
                    <div class="col-12 keyheader d-flex justify-content-between">
                        <div>{{keyHeader}}</div>
                        <div *ngIf="j==0 && isOperator" class="btn btn{{isEditData ? '' : '-outline'}}-primary" (click)="toggleEditData()">
                            {{isEditData ? 'Simpan' : 'Ubah'}}
                        </div>
                    </div>
<!--                    <div *ngIf="keyHeader == 'Detail Identitas' && isOperator" class="catatan-mandatory ps-3">Data wajib terisi jika terdapat tanda (<span style="color: #FF0000;">*</span>)</div>--> <!-- Belum pasti untuk stylingnya -->
                    <div class="col-12 keyvalue" *ngFor="let row of listViewInfo[keyHeader]; index as i" [class.bg-white]="(i%2) == 1" [class.bg-second-bottom]="(i%2) == 0">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-between">
                                <div class="{{ row['required'] && isOperator ? 'required' : '' }}">{{row['label']}}{{ row['required'] && isOperator ? '   ' : '' }}</div>
                                <div>:</div>
                            </div>

                            <div class="{{ isEditData ? 'col-8' : 'col-6' }}">
                                <span *ngIf="!row['isEdit'] && !isEditData && row['type'] != 'date' && row['type'] != 'status'">
                                    {{document[row['bind']] ? document[row['bind']] : '-'}}
                                </span>

                                <div *ngIf="row['type'] === 'status' && !row['isEdit'] && !isEditData" class="status_dokumen{{ document[row['bind']] == 3 ? ' status-semi ' : document[row['bind']] == 0 ? ' status-secondary ' : document[row['bind']] > 0 && document[row['bind']] < 3 ? ' status-success ' : document[row['bind']] == 5 || document[row['bind']] == 7 ? ' status-danger ' : ' status-warning ' }}">

                                    <span>{{ document[row['bind']] == 3 ? 'Disetujui' : document[row['bind']] == 0 || document[row['bind']] == undefined ? 'Diperiksa' : document[row['bind']] > 0 && document[row['bind']] < 3 ? 'Diverifikasi' : document[row['bind']] == 5 || document[row['bind']] == 7 ? 'Ditolak' : 'Anomali' }}</span>
                                </div>

                                <!-- <span *ngIf="!isEditData && row['type'] == 'date' && !row['isEdit']">
                                    {{ document[row['bind']] | date : 'dd-MM-yyyy' }}
                                </span> -->

                                <div class="input-group" *ngIf="row['isEdit'] && row['type'] == 'date' || isEditData && row['type'] == 'date'">
                                    <!-- <input class="form-control" placeholder="dd-mm-yyyy" name="dp"
                                        [(ngModel)]="document[row['bind']]" ngbDatepicker #d="ngbDatepicker"
                                        [minDate]="{year: 1900, month: 1, day: 1}"
                                        [maxDate]="{year: 2099, month: 12, day: 31}" (change)="d.toggle()" /> -->
                                    <!-- <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                        <img height="18px" src="https://cdn-icons-png.flaticon.com/24/55/55281.png"
                                            alt="">
                                    </button> -->
                                </div>

                                <div class="input-group" *ngIf="row['isEdit'] && (row['type'] != 'date' || !row['type']) || isEditData && (row['type'] != 'date' || !row['type'])">
                                    <!-- <input *ngIf="!row['type'] || row['type'] == 'text'" type="{{row['type']}}"
                                        class="form-control" [(ngModel)]="document[row['bind']]"
                                        placeholder="{{row['label']}}" aria-describedby="basic-addon1" /> -->
                                </div>

                                <div class="input-group" *ngIf="row['isEdit'] && row['type'] == 'dropdown' || isEditData && row['type'] == 'dropdown'">
                                    <!-- <ng-select (search)="searchNgSelect($event, row)" class="custom"
                                        [items]="row['options']" bindLabel="label" bindValue="value"
                                        [(ngModel)]="document[row['bind']]" placeholder="Pilih Status"
                                        [ngModelOptions]="{standalone:true}"></ng-select> -->
                                </div>
                            </div>

                            <div class="col-2 d-flex align-items-center" style="column-gap: 1rem" *ngIf="isOperator && !isEditData">
                                <img class="cursor-pointer" (click)="row['isEdit'] = true" height="24" src="assets/icons/adjEdit.svg" alt="Edit Input" />
                                <img class="cursor-pointer" (click)="row['isEdit'] = false" height="24" src="assets/icons/adjClose.svg" alt="Close Input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 bg-white py-2" *ngIf="isEditData" (click)="toggleEditData()">
                        <button class="btn btn-primary w-100">
                            Simpan
                        </button>
                    </div>
                </div>

                <div class="row info mt-3 px-3">
                    <div class="col-12 keyheader">
                        Verifikasi Data
                    </div>

                    <div class="col-12 px-0">
                        <div class="keyvalue bg-second-bottom roundedbrl-8">
                            <div class="row">
                                <div class="col-6 d-flex justify-content-between">
                                    <div>{{ isFaceDetected['label'] }}</div>
                                    <div>:</div>
                                </div>

                                <div class="col-6 d-flex align-items-center">
                                    <div><i class="fa font-size-24 me-2 fa-{{ document[isFaceDetected['bind']] == 1 ? 'check-circle text-success' : 'times-circle  text-danger' }}"></i></div>
                                    <p class="mb-0">{{ document[isFaceDetected['bind']] == 1 ? 'Ya' : 'Tidak' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 info col-12 px-0">
                        <ng-container *ngFor="let row of listVerifikasi; index as i">
                            <div class="keyvalue" *ngIf="row.bind != 'doc_adj_key3_status'" [class.bg-second-bottom]="i % 2 == 1" [class.bg-white]="i % 2 == 0">
                                <div class="row">
                                    <div class="col-6 d-flex justify-content-between">
                                        <div>{{row['label']}}</div>
                                        <div>:</div>
                                    </div>

                                    <div class="col-6 d-flex align-items-center" *ngIf="!isOperator">
                                        <div><i class="fa font-size-24 me-2 fa-{{ document[row['bind']] == 1 ? 'check-circle text-success' : 'times-circle  text-danger' }}"></i></div>
                                        <p class="mb-0">{{ document[row['bind']] == 1 ? 'Ya' : 'Tidak' }}</p>
                                    </div>

                                    <div class="col-6" *ngIf="isOperator">
                                        <div class="form-check-inline me-5">
                                            <label class="form-check-label cursor-pointer" for="{{row['bind']}}_ya" (click)="document[row['bind']] = '1'">
                                                <img src="assets/icons/{{ document[row['bind']] == 1 ? 'radioChecked' : 'radioUnchecked' }}.svg" alt="Radio Checked" /> Ya
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label cursor-pointer" for="{{row['bind']}}_tidak" (click)="document[row['bind']] = '0'">
                                                <img src="assets/icons/{{ document[row['bind']] == 0 ? 'radioChecked' : 'radioUnchecked' }}.svg" alt="Radio Unchecked" /> Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="keyvalue bg-white" *ngIf="row.bind == 'doc_adj_key3_status' && document.doc_adj_key2_status == '0'">
                                <div class="row">
                                    <div class="col-6 d-flex justify-content-between">
                                        <div>
                                            {{row['label']}}
                                        </div>
                                        <div>:</div>
                                    </div>

                                    <div class="col-6 d-flex align-items-center" *ngIf="!isOperator">
                                        <div>
                                            <i class="fa font-size-24 me-2 fa-{{ document[row['bind']] == 1 ? 'check-circle text-success' : 'times-circle  text-danger' }}"></i>
                                        </div>
                                        <p class="mb-0">{{ document[row['bind']] == 1 ? 'Ya' : 'Tidak' }}</p>
                                    </div>

                                    <div class="col-6" *ngIf="isOperator">
                                        <div class="form-check-inline me-5">
                                            <label class="form-check-label cursor-pointer" for="{{row['bind']}}_ya" (click)="document[row['bind']] = '1'">
                                                <img src="assets/icons/{{ document[row['bind']] == 1 ? 'radioChecked' : 'radioUnchecked' }}.svg" alt="Radio Checked" /> Ya
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label cursor-pointer" for="{{row['bind']}}_tidak" (click)="document[row['bind']] = '0'">
                                                <img src="assets/icons/{{ document[row['bind']] == 0 ? 'radioChecked' : 'radioUnchecked' }}.svg" alt="Radio Unchecked" /> Tidak
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="row info mt-3 px-3" *ngIf="isSuperadmin">
                    <div class="col-12 keyheader">
                        Catatan
                    </div>
                    <div class="col-12 keyvalue" *ngFor="let row of listCatatan; index as i"
                        [class.bg-white]="(i%2) == 1" [class.bg-second]="(i%2) == 0">
                        <div class="row">
                            <div class="col-6">
                                {{row['label']}}
                            </div>
                            <div class="col-6">
                                <span class="me-3">:</span>
                                {{document[row['bind']]}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row info mt-3 px-3" *ngIf="(document.adj_status <= 2 || document.adj_status == 7  || document.adj_status == 8 || document.adj_status == undefined) && !isSuperadmin">
                    <div class="col-12 keyheader">
                        Catatan
                    </div>
                    <div class="col-12 keyvalue" style="background-color: white;">
                        <div class="row" *ngIf="isSupervisor">
                            <div class="col-6 mb-4 d-flex justify-content-between">
                                <div>Dari Operator</div>
                                <div>:</div>
                            </div>
                            <div class="col-6">
                                {{document['notes']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- <textarea class="catatan" *ngIf="isSupervisor" placeholder="Cth: warna rambut berbeda" name="" [(ngModel)]="document['catatan_supervisor']"></textarea>
                                <textarea class="catatan" *ngIf="isOperator" placeholder="Cth: warna rambut berbeda" name="" [(ngModel)]="document['notes']"></textarea> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row info mt-3 px-3" *ngIf="isOperator || (isSupervisor && (document.adj_status == 2 || document.adj_status == 7 || document.adj_status == 8))">
                    <div class="col-12 keyheader">
                        Keputusan
                    </div>
                    <div class="col-12 keyvalue" style="background-color: white;">
                        <div class="row">
                            <div class="col-md-8">
                                <!-- <ng-select [placeholder]="'Pilih keputusan akhir'" [items]="listKeputusan"
                                    bindLabel="label" bindValue="label" [(ngModel)]="document.keputusan">
                                </ng-select> -->
                            </div>
                            <div class="col-md-4">
                                <button *ngIf="isSupervisor" class="btn-konfirmasi btn btn-primary w-100"
                                    [disabled]="!document['catatan_supervisor'] || !document.keputusan || isEditData || cropperOpen"
                                    (click)="validateData()">
                                    Konfirmasi
                                </button>
                                <button *ngIf="isOperator" class="btn-konfirmasi btn btn-primary w-100"
                                    [disabled]="!document['notes'] || !document.keputusan || isEditData || cropperOpen" (click)="verifData()">
                                    Konfirmasi
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-md-5 px-2 stick-card">
                <div class="row">
                    <div class="roundedtrl-8 col-12 keyheader d-flex justify-content-between">
                        <div>Kartu ID</div>
                        <div class="d-flex align-items-center">
                            <div class="btn btn-primary rounded-8 me-2" (click)="rotateLeft()" *ngIf="cropperOpen">
                                <img src="assets/icons/rotateLeft.svg" alt="Rotate Left Icon" />
                            </div>
                            <div *ngIf="isOperator" class="btn btn{{cropperOpen ? '' : '-outline'}}-primary" (click)="toggleCropper()">
                                {{cropperOpen ? 'Simpan' : 'Ubah'}}
                            </div>
                        </div>
                    </div>
                    <div class="roundedbrl-8 col-12 d-flex justify-content-center bg-white p-2">
                        <!-- <image-cropper *ngIf="cropperOpen" [imageBase64]="imgBase64" cropper [cropper]="cropperPosition" (imageLoaded)="imageLoaded()" (cropperReady)="imageLoaded()" [maintainAspectRatio]="true" [aspectRatio]="cropperRatio" format="png" (imageCropped)="cropImg($event)"></image-cropper> -->
                        <img style="width: 100%;" *ngIf="!cropperOpen" [src]="document['doc_pict_secondary']" alt="">
                    </div>

                    <div class="roundedtrl-8 col-12 keyheader mt-3{{ isOperator ? ' required' : '' }}">
                        Foto yang ditampilkan{{ isOperator ? '   ' : '' }}
                    </div>
                    <div class="roundedbrl-8 col-12 d-flex justify-content-center bg-white p-2">
                        <img *ngIf="!cropImgPreview" src="{{document['doc_pict_cropping']}}" alt="">
                        <img *ngIf="cropImgPreview" [src]="cropImgPreview" alt="">
                    </div>

                    <div class="roundedtrl-8 col-12 keyheader mt-3 d-flex justify-content-between">
                        <div>Foto wajah</div>
                    </div>
                    <div class="roundedbrl-8 col-12 d-flex justify-content-center bg-white p-2">
                        <img style="height:300px;" src="{{document['doc_pict_primary']}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
