.title-page {
    font-size: 28px;
    font-weight: 700;
    font-stretch: normal;
    color: #231f20;
    margin: 0 !important;
}

.card-title {
    width: 100%;
    height: 29px;
    font-size: 21px;
    font-weight: 900;
    color: #231f20;
    margin: 16px 0;
}

.w-50-h-50 {
    width: 50px;
    height: 50px;
}

.w-24-h-24 {
    width: 24px;
    height: 24px;
}

.text-30px {
    font-size: 30px;
}

.font-bold {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-kolom {
    position: relative;
    flex: 1 1 auto;
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid rgb(142, 142, 142);

    &:hover {
        background: #213f9a7c;
        color: white;
        transition: all 0.3s ease-in-out;
    }

    &.active {
        color: #40667D;
        border-bottom: #40667D 3px solid;
        width: fit-content;
        transition: all 0.3s ease-in-out;
    }
}

.w-24-h-24 {
    width: 24px;
    height: 24px;
}

.properties {
    border: 3px solid #40667D;
    border-radius: 10px;
    padding: 10px;
}

.mb-20px {
    margin-bottom: 20px;
}

.p-20-40 {
    padding: 20px 40px;
}

input:focus {
    outline: none;
}

#file-title {
    border: none;
    padding: 12px;
    font-size: 23px;
}

#file-title:focus {
    outline: none;
}


#label-formulir {
    border: none;
    padding: 24px 24px 0;
    font-size: 28px;
    font-weight: 700;
}

#label-formulir:focus {
    outline: none;
}

#description-formulir {
    border: none;
    padding: 0 24px;
    font-weight: 700;
    font-size: 14px;
}

#description-formulir::placeholder, #label-formulir::placeholder {
    color: #94A3B8;
}

#description-formulir:focus {
    outline: none;
}

.border-b {
    border-bottom: 1px solid #e0e0e0;
}

.border-none {
    border: none;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 14px;
}

.text-14px {
    font-size: 14px;
}

.icon-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: #E9ECF5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.after {
    color: red;
}

.form-label {
    font-size: 16px !important;
    font-weight: bold !important;
}

.active-popover {
    z-index: 1000;
    background: #000000;
    color: white;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    max-width: 150px;
}

.form-control {
    background-color: #F5F6F8 !important;
    border: none !important;
    padding: 12px !important;
}

textarea {
    resize: none;
    color: #74788D;
}

.form-text {
    font-size: 14px !important;
    color: #A7A5A6 !important;
}

.relative {
    position: relative;
}

#Progress-task {
    height: 244px;
    overflow: hidden auto;
}

.input-group-text {
    background-color: #F5F6F8 !important;
    border: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.media-group-text {
    color: black !important;
    background-color: #E2E2E2 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

#template {
    height: 244px;
    overflow: hidden auto;
}

/* width */
.scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: rgba(95, 95, 95, .3);
    border-radius: 2px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::ng-deep .popover-body {
    max-height: 500px;
    overflow: auto;
}

.nav-custom {
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    flex-wrap: nowrap;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
    color: #74788D;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    // padding: 0 10px;
    // margin: 0 10px;
}

.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 3px solid #40667D;
    color: #40667D;
    animation: animate 0.5s ease-in-out;
    transition: all 0.3s linear;
}

.modal-preview .modal-content {
    animation: animate 0.2s ease-in-out;
    border: none;
    max-width: 444px;
    height: 90vh;
    z-index: 9999;

    input::placeholder {
        color: transparent;
    }

    input:focus::placeholder {
        color: #999
    }
}

::ng-deep .popover-body {
    max-height: 500px;
    overflow: auto;
}

.no-shadow {
    box-shadow: none !important;
}

.border-t {
    border-top: 1px solid #e0e0e0;
}

.foto-input-container {
    border: 1px dashed rgb(116, 120, 141);
}

::ng-deep .collapse.card-body {
    padding: 0;
}

.fs-24 {
    font-size: 24px;
}

.gap-3 {
    gap: 1rem;
}


.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 1px #21409A;
}

input:checked+.slider {
    background-color: #21409A;
}

input:focus+.slider {
    box-shadow: 0 0 1px #21409A;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.rounded-8 {
    border-radius: 8px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// .modal-preview {
//   width: 100%;
//   height: 100%;
//   background: #000000b3;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 999;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.modal-preview .modal-content {
    animation: animate 0.2s ease-in-out;
    border: none;
    max-width: 444px;
    height: 90vh;
    z-index: 9999;

    input::placeholder {
        color: transparent;
    }

    input:focus::placeholder {
        color: #999
    }
}

::ng-deep .modal-content {
    border: none;
}

.hs-firstname {
    position: relative;
    margin-top: 10px;
}

.input-mobile {
    position: relative;
    z-index: 2;
    background: transparent;
    padding: 2px 5px;
    border: 1px solid #999;
    color: rgb(86, 86, 86);
}

.label-mobile {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    z-index: 100000;
}

.input-mobile:focus+.label-mobile {
    top: -18px;
    color: #000;
    font-size: 14px;
}

.label-result {
    font-size: 14px !important;
}

.input-result {
    background-color: white !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #64748B !important;
    border: 1px solid #CBD5E1 !important;
    border-radius: 8px !important;
}

.input-mobile:not(:placeholder-shown)+.label-mobile {
    top: -18px;
    color: #000;
    font-size: 14px;
}

.custom-popover {
    background-color: #000000;
    width: 50%;
}

::ng-deep .bs-popover-left>.arrow::after,
::ng-deep .bs-popover-auto[x-placement^=left]>.arrow::after {
    right: 1px;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: #000000;
}

.search-dokumen-ikon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.popover-header {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 0.8125rem;
    background-color: #11204D;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.cevron-title-properties {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
}

.custom-search-input {
    background: white !important;
    border: 1px solid #CBD5E1 !important;
    border-radius: 8px;
    padding-left: 2.5rem !important;
}

.btn-accordion-custom {
    width: 100%;
    background-color: white;
    border: none;
}

.accordion .card-header {
    padding: 0px;
}

.accordion .card-body {
    padding: 0px;
    margin-top: 5px;
}

.ng-select {
    min-width: 250px;
}

::ng-deep .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
    display: none;
}

.icon-check {
    cursor: pointer;
    margin-right: 5px;
}

.stikcy-template {
    top: 80px;
    max-height: 90vh;
    position: sticky;
    overflow-y: auto;
}

// Nav page
.nav-page-link {
    border-bottom: 2px solid #E9ECF5;
    color: #74788D;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 0.5rem 1rem;
}

.nav-page-link-active {
    border-bottom: 2px solid #21409A;
    color: #74788D;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 0.5rem 1rem;
}

.li-column {
    position: relative;
    flex: 1 1 auto;
}

// Dropzone
.dropzone {
    min-height: calc(100vh - 300px);
    width: 100%;
}

.dropzone-placeholder {
    font-size: 18px;
    font-weight: 700;
    height: 132px;
    width: 100%;
    border: 2px dashed #21409A;
    border-radius: 5px;
    text-align: center;
    background-color: #E9ECF5;
    color: #21409A;
}

// title
.top-header>div:first-child>svg {
    width: 1em;
    height: 1em;
    font-size: 50px;
    margin-top: -8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.top-header>div:first-child>p.title {
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.0093em;
    line-height: 1;
    font-size: 30px;
    color: #212529;
}

.top-header>div:first-child>svg:hover {
    fill: #40667D;
}

// Form
.border-form-active {
    border: 3px solid #40667D !important;
    border-radius: 5px;
}

.border-form {
    border: 3px solid transparent !important;
    border-radius: 5px;
}

.icon-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -0.5em);
}

.icon-grid {
    visibility: hidden;
    width: 0;
}

.template-hover:hover .icon-grid {
    visibility: visible;
    width: 10px;
    transition: all 0.3s ease-in-out;
}
