<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <!-- <img placement="auto" [ngbTooltip]="props.description" class="attention-icon" src="assets/icons/attention.svg" [height]="24" [width]="24" alt="Attention Icon" /> -->

            <img class="me-4" [alt]="props.title" [height]="55" [width]="55" src="assets/icons/ic-verified-{{ props.icon }}.svg" />
            <div class="legend-card">
                <p>{{ props.title }}</p>
                <p>{{ props.stats }}</p>
            </div>
        </div>
    </div>
</div>
