.tab > div{
    padding: 8px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-left: 20px;
    cursor: pointer;
    color: #B9B9B9;
    transition: all 0.8s;
    border-radius: 12px;
}

.tab > div.active{
    color: #45BF7C;
    background-color: #ECF9F2;
}

.tab-content > section{
    min-height: 500px;
}