.rightbar-title {
  top: 1.5rem;
  right: 1.5rem;
}

.btn-rounded {
  border-radius: 8px !important;
}

.text-base {
  font-size: 1rem !important;
}

.gap-5 {
  gap: 2.5rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-1 {
  gap: 0.5rem;
}

.list-menu-profile {
  border-bottom: 1px solid #e2e8f0;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  border-radius: 8px;
  padding: 1.5rem 1rem;
  color: #101010 !important;
  font-size: 14px;
  font-weight: 400;
}

input::placeholder {
  color: #64748b !important;
  font-size: 14px;
  font-weight: 700;
}

input:focus {
  outline: 1px solid #21409a;
}

.form-group > label {
  font-weight: 700 !important;
  color: #111 !important;
  font-size: 14px !important;
}

.camera-icon {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}

.profile-image {
  border: 4.34783px solid #f6f6f6;
}

.menu-righsidebar {
  color: #334155;
  font-size: 16px;
}

.disabled-keycloak:disabled {
  cursor: not-allowed;
}
