<div style="min-height: 100vh; position: relative; overflow: hidden; background-color: #f6f6f6" class="d-flex">
  <app-left-sidebar [leftSidebarOpen]="leftSidebarOpen" [leftSidebarGrow]="leftSidebarGrow"  (keydown.escape)="leftSidebarOpen = false"></app-left-sidebar>
  <div class="flex-grow-1 custom-scrollbar" style="overflow-y: auto">
    <app-topbar [leftSidebarGrow]="leftSidebarGrow" [leftSidebarOpen]="leftSidebarOpen" (leftSidebarGrowChange)="leftSidebarGrowChange($event)" [rightSidebarOpen]="rightSidebarOpen" (rightSidebarOpenChange)="rightSidebarOpen = $event" (leftSidebarOpenChange)="leftSidebarOpen = $event"></app-topbar>
    <div style="position: relative; height: 100vh; padding-top: 75px" class="d-flex flex-column">
      <div class="py-3 px-4 flex-grow-1">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
  <app-right-sidebar [rightSidebarOpen]="rightSidebarOpen" (rightSidebarOpenChange)="rightSidebarOpen = $event" (keydown.escape)="rightSidebarOpen = false"></app-right-sidebar>

  <div *ngIf="rightSidebarOpen" style="position: absolute; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.3); z-index: 1002;" (click)="rightSidebarOpen = false"></div>
  <div *ngIf="leftSidebarOpen" class="left-sidebar-overlay" (click)="leftSidebarOpen = false"></div>
</div>
