<div>
  <p
    class="login-header"
    style="color: #111; font-weight: bold; font-size: 36px"
    (click)="signKey()"
  >
    Selamat Datang
  </p>

  <!--  <alert *ngIf="successAlert" type="success" [dismissible]="true" (onClosed)="successAlert = false"><span style="font-size: 1rem; font-weight: bold">{{ message }}</span></alert>-->
  <!--  <alert *ngIf="dangerAlert" type="danger" [dismissible]="true" (onClosed)="dangerAlert = false"><span style="font-size: 1rem; font-weight: bold">{{ message }}</span></alert>-->
  <re-captcha (resolved)="resolvedCaptcha($event)" siteKey="6LeWsYUpAAAAAOK6uIAIL1F2Scak3yILvjq2PwY6"></re-captcha>
  <div class="row mt-4" *ngIf="isKeycloak">
    <button
      class="btn btn-primary btn-lg"
      (click)="loginSSO()"
      [disabled]="isSSOClicked || !isCaptchaReolved"
    >
      Masuk dengan SSO
    </button>
  </div>
  <form
    class="mt-4"
    [formGroup]="loginForm"
    (submit)="onSubmit()"
    *ngIf="!isKeycloak"
  >
    <div class="mb-3">
      <label for="Email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control form-control-lg{{
          loginForm.controls['Email'].invalid &&
          (loginForm.get('Email')?.dirty || loginForm.get('Email')?.touched)
            ? ' is-invalid'
            : loginForm.controls['Email'].valid &&
              (loginForm.get('Email')?.dirty || loginForm.get('Email')?.touched)
            ? ' is-valid'
            : ''
        }}"
        [ngClass]="dangerAlertFieldAccount ? 'is-invalid' : ''"
        id="Email"
        placeholder="Masukkan email Anda"
        formControlName="Email"
        autofocus
        autocomplete="Email"
        required
      />
      <span
        *ngIf="dangerAlertMessageAccount"
        class="text-danger d-flex justify-content-start align-items-center gap-2 mt-2"
        ><img
          src="assets/icon/dashboard/alert-circle-danger.svg"
          style="width: 20px; height: 20px"
        />
        {{ messageAccount }}</span
      >
    </div>

    <div class="mb-3" style="position: relative">
      <label for="Password" class="form-label">Password</label>
      <div>
        <input
          [type]="showedPassword ? 'text' : 'password'"
          class="pe-5 form-control form-control-lg{{
            loginForm.controls['Password'].invalid &&
            (loginForm.get('Password')?.dirty ||
              loginForm.get('Password')?.touched)
              ? ' is-invalid'
              : loginForm.controls['Password'].valid &&
                (loginForm.get('Password')?.dirty ||
                  loginForm.get('Password')?.touched)
              ? ' is-valid'
              : ''
          }}"
          [ngClass]="dangerAlertField ? 'is-invalid' : ''"
          id="Password"
          placeholder="Masukkan password Anda"
          formControlName="Password"
          required
        />

        <div class="position-absolute" style="top: 59%; right: 1rem">
          <i
            class="far{{ showedPassword ? ' fa-eye ' : ' fa-eye-slash ' }}fa-1x"
            style="cursor: pointer"
            (click)="showedPassword = !showedPassword"
          ></i>
        </div>
      </div>
      <span
        *ngIf="dangerAlertMessage"
        class="text-danger d-flex justify-content-start align-items-center gap-2 mt-2"
        ><img
          src="assets/icon/dashboard/alert-circle-danger.svg"
          style="width: 20px; height: 20px"
        />
        {{ message }}</span
      >
    </div>

    <div class="d-flex align-items-center justify-content-end mb-3">
      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" checked/>
        <label class="form-check-label" style="font-size: 1rem; color: #101010;font-weight: bold" for="exampleCheck1">Ingat
          Saya</label>
      </div> -->

      <a
        routerLink="/forgot-password"
        class="text-decoration-none text-primary"
        style="font-size: 1rem"
        >Lupa password?</a
      >
    </div>

    <div class="d-grid">
      <button
        type="submit"
        class="btn btn-primary btn-lg"
        [disabled]="loadingState"
      >
        <div
          *ngIf="loadingState"
          class="spinner-border spinner-border-sm text-light me-2"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <span>MASUK</span>
      </button>
    </div>
  </form>
</div>
