@media screen and (max-width: 624px) {
    .login-header{
        font-size: 28px !important;
    }
}

@media screen and (max-width: 536px) {
    .login-header{
        font-size: 24px !important;
    }
}

@media screen and (max-width: 490px) {
    .login-header{
        font-size: 20px !important;
    }
}

@media screen and (max-width: 412px) {
    .login-header{
        font-size: 16px !important;
    }
}

@media screen and (max-width: 355px) {
    .login-header{
        font-size: 15px !important;
    }
}