<form>
    <div class="form-group row align-items-center">
        <div class="col-4">
            <label class="font-size-14 mb-0 font-weight-bold">Hari</label>
        </div>
        <div class="col-8 relative">
            <ng-select [items]="scheduleDays" bindLabel="id" bindValue="en" placeholder="Pilih Hari"
                [(ngModel)]="selectedDay" (change)="onDaySelected($event)">
            </ng-select>
        </div>
    </div>

    <div class="form-group row" *ngIf="selectedSchedules.length > 0">
        <div class="col-4">
            <label class="font-size-14 pt-2 mb-0 font-weight-bold">Jadwal</label>
        </div>
        <div class="col-8 d-flex flex-column">
            <div class="d-flex align-items-center mb-3" *ngFor="let item of selectedSchedules; index as i;">
                <!-- Schedule Start Input -->
                <input class="form-control form-schedule me-2" type="time" name="schedule_start_{{i}}"
                    placeholder="Schedule Start" [(ngModel)]="item.start_time" />

                <!-- Hyphen Separator -->
                <span class="me-2">-</span>

                <!-- Schedule End Input -->
                <input class="form-control form-schedule" type="time" name="schedule_end_{{i}}"
                    placeholder="Schedule End" [(ngModel)]="item.end_time" />


                <!-- Add Button -->
                <button *ngIf="i == 0" class="btn btn-primary btn-sm ms-2" (click)="addScheduleRow()">
                    <i class="fa fa-plus"></i>
                </button>

                <!-- Remove Button -->
                <button *ngIf="i != 0" class="btn btn-outline-danger btn-sm ms-2" (click)="removeScheduleRow(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>

    <hr />
    <div class="form-group row">
        <div class="col text-center">
            <button type="submit" class="btn btn-outline-primary btn-action me-2" (click)="close()">
                Batal
            </button>
            <button type="submit" class="btn btn-primary btn-action" (click)="save()">
                Simpan Perubahan
            </button>
        </div>
    </div>
</form>