<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="title-page">Jadwal Dokter</div>
            <div class="sub-title-page">
                <a style="margin: auto 0; text-decoration: none; font-size: 14px" class="text-unactive">
                    <span>Layanan Kesehatan</span>
                </a>
                <a style="margin: auto 0; text-decoration: none; font-size: 14px" class="text-unactive">
                    <span style="padding: 0 5px">/</span>
                    <span>Telemedicine</span>
                </a>
                <a style="margin: auto 0; text-decoration: none; font-size: 14px" class="text-active">
                    <span style="padding: 0 5px">/</span>
                    <span>Jadwal Dokter</span>
                </a>
            </div>
            <div class="card">
                <div class="card-header pb-0 px-0">
                    <div class="card-header pb-0 px-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8 col-md-6 col-12">
                                    <div class="px-3">
                                        <div class="card-title">Daftar Jadwal Dokter</div>
                                    </div>
                                </div>
                                <div
                                    class="col-sm-4 col-md-6 col-12 d-flex justify-content-sm-end align-items-center px-4">
                                    <!-- <button type="button" class="btn btn-outline-primary rounded-8"
                                        style="min-width: 10rem;" (click)="createDokumen(formJadwalDokter)">
                                        <em class="fa fa-plus font-size-14 align-middle me-2"></em> Tambah
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <ng-container *ngIf="totalRecord != 0; else dataAvailable">
                        <div class="px-3 d-flex align-items-center" style="padding-top: .5rem;">
                            <div class="row limit ps-3" style="height: 50px;">
                                <!-- <div class="d-flex"> -->
                                <div class="relative">
                                    <!-- <input type="text" [(ngModel)]="filter.value" placeholder="Pencarian"
                                        class="search-input" (keyup)="reloadDataTable()" /> -->
                                    <i class="fa fa-search icon-search"></i>
                                </div>
                            </div>
                            <!-- </div> -->
                            <!-- <div class="btn ms-4 rounded-8 d-flex align-items-center filter-button">
                <i class="fa fa-filter"></i>
              </div> -->
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="">
                                    <!-- <table class="table table-hover" datatable [dtOptions]="dtOptions">
                                        <thead>
                                            <tr style="background-color: #E2E8F0 !important">
                                                <th class="ps-3" style="width: 20%;">Nama</th>
                                                <th class="text-center" style="width: 10%;">Minggu</th>
                                                <th class="text-center" style="width: 10%;">Senin</th>
                                                <th class="text-center" style="width: 10%;">Selasa</th>
                                                <th class="text-center" style="width: 10%;">Rabu</th>
                                                <th class="text-center" style="width: 10%;">Kamis</th>
                                                <th class="text-center" style="width: 10%;">Jumat</th>
                                                <th class="text-center" style="width: 10%;">Sabtu</th>
                                                <th class="text-center" style="width: 10%;">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let jadwal of listJadwal; index as i"
                                                [class.bg-white]="(i % 2) == 0" [class.bg-second]="(i % 2) == 1">

                                                <td class="align-middle ps-3">{{ jadwal.namaDokter ? jadwal.namaDokter :
                                                    "-" }}</td>
                                                <td class="align-middle text-center">{{
                                                    displaySchedule(jadwal.schedule['Sunday']) }}</td>
                                                <td class="align-middle text-center">{{
                                                    displaySchedule(jadwal.schedule['Monday']) }}</td>
                                                <td class="align-middle text-center">{{
                                                    displaySchedule(jadwal.schedule['Tuesday']) }}</td>
                                                <td class="align-middle text-center">{{
                                                    displaySchedule(jadwal.schedule['Wednesday']) }}</td>
                                                <td class="align-middle text-center">{{
                                                    displaySchedule(jadwal.schedule['Thursday']) }}</td>
                                                <td class="align-middle text-center">{{
                                                    displaySchedule(jadwal.schedule['Friday']) }}</td>
                                                <td class="align-middle text-center">{{
                                                    displaySchedule(jadwal.schedule['Saturday']) }}</td>
                                                <td class="align-middle text-center">
                                                    <a class="btn btn-outline-primary" placement="left" container="body"
                                                        ngbTooltip="Detail">
                                                        <i class="fa fa-pencil-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tr class="table-danger" *ngIf="totalRecord == 0">
                                            <td [attr.colspan]="10" class="text-center">
                                                Data tidak ditemukan
                                            </td>
                                        </tr>
                                    </table> -->
                                    <div class="info-wrap-imi" *ngIf="totalRecord != 0">
                                        <div class="info-1">Tampilkan</div>
                                        <!-- <select [(ngModel)]="limit" id="inputLimit" class="form-control info-2"
                                            style=" background-color: #FEFEFE !important; border: 1px solid #CBD5E1 !important; padding: 0.47rem 0.75rem"
                                            name="showFilter" (change)="clickLimit()">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> -->
                                        <div class="info-3">dari {{ totalRecord }} data</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <ng-template #dataAvailable>
                        <div class="blank-page-container">
                            <img src="assets/icons/kesehatan/doctorDesk.svg" alt="Image" class="blank-page-image">
                            <h1 class="blank-page-title">Daftar Jadwal Dokter Kosong</h1>
                            <p class="blank-page-description">Belum ada jadwal yang ditambahkan</p>
                        </div>
                    </ng-template> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <ng-template #formJadwalDokter let-modal>
        <div class="modal-header">
            <h4 class="modal-title my-auto font-weight-bold font-size-24">
                {{ titleModal }}
            </h4>
            <button type="button" class="close my-auto" (click)="modal.close()" aria-label="Close">
                <i class="mdi mdi-close-thick"></i>
            </button>
        </div>
        <div class="modal-body">
            <app-detail-jadwal-dokter [dataForm]="dataForm" (afterSave)="modal.close(); reloadDataTable()">
            </app-detail-jadwal-dokter>
        </div>
    </ng-template> -->