<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="title-page">
                Login Kadaluarsa
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="card rounded-b-8">
                        <div class="card-header rounded-t-8">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="card-title">
                                    Konfigurasi
                                </div>
                                <button class="btn btn-outline-primary whitespace-nowrap d-flex align-items-center rounded-8">
                                    <i class="fas fa-pencil-alt me-2"></i>
                                    <p class="mb-0">Ubah</p>
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-4 form-label">Expired Login</div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="input-group col-6">
                                            <input type="number" class="form-control rounded-l-8" placeholder="Masukkan Jam" aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                                <span class="input-group-text rounded-r-8" id="basic-addon1">Hour</span>
                                            </div>
                                        </div>
                                        <div class="input-group col-6">
                                            <input type="number" class="form-control rounded-l-8" placeholder="Masukkan Menit" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text rounded-r-8" id="basic-addon2">Minute</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 form-label">Warm Message</div>
                                <div class="col-8">
                                    <textarea class="form-control rounded-8" id="exampleFormControlTextarea1" placeholder="Masukkan Pesan" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
