.title-page {
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  color: #231f20;
  margin-bottom: 20px;
}

.card-title {
  height: 29px;
  font-size: 20px;
  font-weight: 900;
  color: #231f20;
}

.text-unactive {
  color: #231f20;
}

.text-active {
  color: #21409a;
  cursor: pointer;
}
