.sub-menu-1 {
    margin-left: 2rem;
    font-size: 14px;
}

.sub-menu-2 {
    margin-left: 3rem;
    font-size: 14px;
}

.sub-menu-1-active {
    color: #CC1D14;
}

.disable-background {
    background-color: transparent !important;
}

.pointer {
    cursor: pointer;
}

.w-24-h-24 {
    width: 24px !important;
    height: 24px !important;
}

.parent-menu:hover{
    background-color: rgb(227, 227, 227);
}

.sub-menu-1:hover{
    background-color: rgb(227, 227, 227) !important;
}

.sub-menu-2:hover{
    background-color: rgb(227, 227, 227) !important;
}
