<form>
    <div class="form-group row align-items-center">
        <div class="col-4">
            <label class="font-size-14 mb-0 font-weight-bold">Nama</label>
        </div>
        <div class="col-8 relative">
            <input class="form-control" type="text" name="name" placeholder="Masukkan nama" />
        </div>
    </div>

    <div class="form-group row align-items-center">
        <div class="col-4">
            <label class="font-size-14 mb-0 font-weight-bold">Deskripsi</label>
        </div>
        <div class="col-8 relative">
            <input class="form-control" type="text" name="description" placeholder="Masukkan deskripsi" />
        </div>
    </div>

    <div class="form-group row align-items-center">
        <div class="col-4">
            <label class="font-size-14 mb-0 font-weight-bold">No. Urut</label>
        </div>
        <div class="col-8 relative">
            <input class="form-control" type="text" name="index" placeholder="Masukkan nomor urut" />
        </div>
    </div>

    <div class="form-group row align-items-center">
        <div class="col-4">
            <label class="font-size-14 mb-0 font-weight-bold">Gambar</label>
        </div>
        <div class="col-8 relative">
            <input class="form-control" type="file" name="image" placeholder="Masukkan gambar" />
        </div>
    </div>

    <hr />
    <div class="form-group row">
        <div class="col text-center">
            <button type="submit" class="btn btn-outline-primary btn-action me-2" (click)="afterSave.emit()">
                Batal
            </button>
            <button type="submit" class="btn btn-primary btn-action">
                Simpan Perubahan
            </button>
        </div>
    </div>
</form>