<div>
  <p style="color: #111; font-weight: bold; font-size: 36px">Reset Password</p>

  <alert *ngIf="successAlert" type="success" [dismissible]="true" (onClosed)="successAlert = false"><span style="font-weight: bold; font-size: 1rem">{{ message }}</span></alert>
  <alert *ngIf="dangerAlert" type="danger" [dismissible]="true" (onClosed)="dangerAlert = false"><span style="font-weight: bold; font-size: 1rem">{{ message }}</span></alert>

  <form class="mt-4" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">

    <div class="mb-2">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control form-control-lg" id="email" aria-describedby="emailHelp" placeholder="Masukkan email Anda" formControlName="email">
    </div>

    <div class="mb-4" style="font-size: 1rem">
      <span>Ingat password? Kembali </span>
      <a routerLink="/login" class="text-decoration-none text-primary">Masuk</a>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-lg">
        <div *ngIf="loadingState" class="spinner-border spinner-border-sm text-light me-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span>KIRIM INSTRUKSI</span>
      </button>
    </div>
  </form>
</div>
