<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="title-page">
                Pembaruan Aplikasi
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="card-title">
                            Riwayat Pembaruan Aplikasi
                        </div>
                        <button class="btn btn-primary whitespace-nowrap d-flex align-items-center rounded-8">
                            <i class="fa fa-undo me-2" aria-hidden="true"></i>
                            <p class="mb-0">Pembaruan App</p>
                        </button>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between" style="padding-top: 0.5rem">
                        <div class="d-flex justify-content-start">
                            <div class="row limit ps-3">
                                <div class="d-flex">
                                    <div class="relative">
                                        <!-- <input type="text" [(ngModel)]="filter.search" placeholder="Cari berdasarkan parameter" class="search-input" (keyup)="reloadDataTable()" /> -->
                                        <i class="fa fa-search icon-test-search"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="btn btn-secondary ms-4 rounded-8 d-flex align-items-center" style="min-height: 48px; min-width: 48px; justify-content: center">
                                <i class="fa fa-filter"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="dropdown me-3" ngbDropdown>
                                <button class="btn btn-outline-primary rounded-8 dropdown-toggle w-100 py-2 px-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                    <i class="text fa fa-download me-1" style="margin-top: 3px;"></i>
                                    <span class="text-button">
                                        Unduh
                                    </span>
                                    <i class="fa fa-caret-down ms-1 val" style="margin-bottom: 3px;" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right text-center w-100" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                                    <a class="dropdown-item" href="javascript: void(0)">Excel</a>
                                    <a class="dropdown-item" href="javascript: void(0)">PDF</a>
                                    <a class="dropdown-item" href="javascript: void(0)">CSV</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-2 pb-0">
                    <div class="table-responsive">
                        <!-- <table class="table table-hover" datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr style="background-color: #E2E8F0 !important;">
                                    <th class="text-center">No</th>
                                    <th class="text-center">Versi Android</th>
                                    <th class="text-center">Versi iOS</th>
                                    <th class="text-center">Kategori Pembaruan</th>
                                    <th class="text-center">Tanggal dan Waktu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dokumen of listDokumen; index as i" [class.bg-white]="(i % 2) == 0" [class.bg-second]="(i % 2) == 1">
                                    <td class="text-center">{{i + 1}}</td>
                                    <td class="align-middle">{{dokumen.doc_no}}</td>
                                    <td class="align-middle text-center">{{getDateFormat(dokumen.created_date)}}</td>
                                    <td class="align-middle text-center"> {{ dokumen.doc_card_type == 7 ? 'Kartu RS' : 'E-KTP' }}</td>
                                    <td class="align-middle text-center d-flex justify-content-center">
                                        <div class="anomali">
                                            Anomali
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-danger" *ngIf="totalRecord == 0">
                                    <td [attr.colspan]="10" class="text-center">
                                        Data tidak ditemukan
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                        <div class="info-wrap-imi" *ngIf="totalRecord != 0">
                            <div class="info-1">Tampilkan</div>
                            <!-- <select
                                    [(ngModel)]="limit"
                                    id="inputLimit"
                                    class="form-control info-2"
                                    style=" background-color: #FEFEFE !important; border: 1px solid #CBD5E1 !important; padding: 0.47rem 0.75rem"
                                    name="showFilter"
                                    (change)="clickLimit()">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> -->
                            <select
                                    
                                    id="inputLimit"
                                    class="form-control info-2"
                                    style=" background-color: #FEFEFE !important; border: 1px solid #CBD5E1 !important; padding: 0.47rem 0.75rem"
                                    name="showFilter"
                                    (change)="clickLimit()">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <div class="info-3">dari {{ totalRecord }} data</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
