<div class="breadcrumb">Dashboard</div>
<div class="tab d-flex justify-content-end">
  <div class="tab-item" (click)="openTab('User')" [class.active]="currentTab == 'User'">
    <span class="btn btn-tab rounded-8"
      [ngClass]="{'btn-primary': currentTab == 'User', 'btn-outline-primary': currentTab != 'User'}">Pengguna
      Terdaftar</span>
  </div>
  <div class="tab-item" (click)="openTab('Service')" [class.active]="currentTab == 'Service'">
    <span class="btn btn-tab rounded-8"
      [ngClass]="{'btn-primary': currentTab == 'Service', 'btn-outline-primary': currentTab != 'Service'}">Layanan
      Kesehatan</span>
  </div>
</div>
<div class="container-fluid" *ngIf="currentTab == 'User'">
  <div class="title-tab">Data Pengguna</div>
  <div class="row">
    <div class="col-md-4" *ngFor="let stat of statsCard">
      <app-stats-card *ngIf="checkRoles(stat.role)" [props]="stat"></app-stats-card>
    </div>

    <div class="col-md-4" *ngIf="checkRoles('web:dashboard:transactionbytype:read')">
      <div class="card">
        <h4 class="card-title">Transaction by Type</h4>
        <div class="card-body" style="position: relative">
          <img placement="auto"
            ngbTooltip="Total user dihitung berdasarkan jumlah nomor handphone yang telah terverifikasi"
            class="attention-icon" src="assets/icons/attention.svg" [height]="24" [width]="24" alt="Attention Icon" />
            <app-pie-chart-card
                  id="1"
                  [pieChartCard]="pieChartCardsNew()[0]"
                  [withCustom]="1"
                  [sizeChartWidth]="150"
                  [sizeChartHeight]="150"
            ></app-pie-chart-card>
        </div>
      </div>
    </div>

    <div class="col-md-4" *ngIf="checkRoles('web:dashboard:transactionbystatus:read')">
      <div class="card">
        <h4 class="card-title">Transaction KTP by Status</h4>
        <div class="card-body" style="position: relative">
          <img placement="auto" ngbTooltip="Total digitalisasi KTP berdasarkan status ajudikasinya"
            class="attention-icon" src="assets/icons/attention.svg" [height]="24" [width]="24" alt="Attention Icon" />
            <app-pie-chart-card
              id="2"
              [pieChartCard]="pieChartCardsNew()[1]"
              [withCustom]="1"
              [sizeChartWidth]="150"
              [sizeChartHeight]="150"
            ></app-pie-chart-card>
        </div>
      </div>
    </div>

    <div class="col-md-4" *ngIf="checkRoles('web:dashboard:digitizedcardsbytype:read')">
      <div class="card">
        <h4 class="card-title">Digitized Cards by Type</h4>
        <div class="card-body" style="position: relative">
          <img placement="auto" ngbTooltip="Total digitalisasi kartu berdasarkan jenis/tipe kartu"
            class="attention-icon" src="assets/icons/attention.svg" [height]="24" [width]="24" alt="Attention Icon" />
            <app-pie-chart-card
            id="2"
            [pieChartCard]="pieChartCardsNew()[2]"
            [withCustom]="1"
            [sizeChartWidth]="150"
            [sizeChartHeight]="150"
          ></app-pie-chart-card>
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="checkRoles('web:dashboard:top10product:read')">
      <div class="card">
        <h4 class="card-title me-3">TOP 10 Products <span class="ms-2"><img placement="auto"
              ngbTooltip="10 produk teratas yang memiliki jumlah transaksi terbanyak" src="assets/icons/attention.svg"
              [height]="24" [width]="24" alt="Attention Icon" /></span></h4>
        <div class="card-body">
          <app-bar-chart [data]="penggunaBaruBarChart()" [id]="'demo-pengguna'"></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="currentTab == 'Service'">

  <div class="title-tab">Transaksi dan Pendapatan</div>
  <div class="row">
    <div class="col-md-6" *ngFor="let stat of statsService">
      <app-stats-card *ngIf="checkRoles(stat.role)" [props]="stat"></app-stats-card>
    </div>
  </div>

  <div *ngIf="checkRoles('web:dashboard:transaksipendapatan:read')">
    <div class="title-tab">Transaksi dan Pendapatan</div>
    <div class="col-md-12" id="chart-pendapatan">
      <app-line-chart></app-line-chart>
    </div>
  </div>

  <div *ngIf="checkRoles('web:dashboard:trendtransaksi:read')">
    <div class="title-tab">Trend Transaksi</div>
    <div class="col-md-12" id="chart-trend">
      <app-line-chart></app-line-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" *ngIf="checkRoles('web:dashboard:doktertersedia:read')">
      <div class="title-tab">Dokter Tersedia</div>
      <div class="card card-doctor">
        <div class="card-body">
          <div class="doctor-card-container">
            <div class="doctor-card" *ngFor="let doctor of listDoctors">
              <img src="{{ doctor.imageUrl }}" class="doctor-image" alt="Doctor Image">
              <div class="doctor-details">
                <div class="doctor-name">{{ doctor.name }}</div>
                <div class="doctor-specialist">{{ doctor.specialist }}</div>
              </div>
              <div class="status-circle"
                [ngClass]="{ 'available': doctor.status === 'Available', 'unavailable': doctor.status === 'Unavailable' }">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="checkRoles('web:dashboard:pasien:read')">
      <div class="title-tab">Pasien</div>
      <div class="row">
        <div class="col-md-12" *ngFor="let stat of statsPatient">
          <app-stats-card [props]="stat"></app-stats-card>
        </div>
        <div class="col-md-6" *ngFor="let stat of statsGender">
          <app-stats-card [props]="stat"></app-stats-card>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="checkRoles('web:dashboard:konsultasi:read')">
    <div class="title-tab">Konsultasi</div>
    <div class="col-md-12" *ngFor="let stat of statsTotalKonsultasi">
      <app-stats-card [props]="stat"></app-stats-card>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="title-semi-tab">Jumlah Konsultasi Berdasarkan Dokter</div>
        <table class="table table-hover" datatable [dtOptions]="dtOptions">
          <thead>
            <tr style="background-color: #E2E8F0 !important">
              <th class="ps-3">Nama Dokter</th>
              <th>Jumlah</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let logs of listConsultDoctor; index as i" [class.bg-white]="(i % 2) == 0"
              [class.bg-second]="(i % 2) == 1">
              <td class="align-middle ps-3">{{ logs.nameDoctor ? logs.nameDoctor : "-" }}</td>
              <td class="align-middle">{{ logs.totalConsultation ? logs.totalConsultation : "-"}}</td>
            </tr>
          </tbody>
          <tr class="table-danger" *ngIf="totalRecord == 0">
            <td [attr.colspan]="10" class="text-center">
              Data tidak ditemukan
            </td>
          </tr>
        </table>
        <div class="info-wrap-imi" *ngIf="totalRecord != 0">
          <div class="info-1">Tampilkan</div>
            <select
              [(ngModel)]="limit"
              id="inputLimit"
              class="form-control info-2 relative z-100 m-1"
              style="padding: 0.34rem 0.50rem !important; background-color: #FEFEFE !important; border: 1px solid #CBD5E1 !important; width:50px; max-height: 30px"
              name="showFilter"
              (change)="clickLimit()">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <div class="info-3">dari {{ totalRecord }} data</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title-semi-tab">Jumlah Konsultasi Berdasarkan Spesialis</div>
      </div>
    </div>
  </div>

</div>