<div style="background-color: white; width: 100%; padding: 26px 32px"
  class="d-flex align-items-center justify-content-between">
  <div>
    <!--    <p style="font-size: 14px; color: #3F4144">V.1.4.0.1</p>-->
  </div>
  <div class="d-flex align-items-center" style="font-size: 14px; font-weight: normal">
    <p>2023</p>
    <img class="mx-1" src="assets/icon/copyright.svg" alt="Copyright Icon" />
    <p>
      <a target="_blank" href="https://nucare.id/" class="text-primary" style="font-weight: 600">NU CARE - LAZISNU </a>
      <!--      | Kementerian Agama RI-->
    </p>
  </div>
</div>