.title-page {
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  color: #231f20;
  margin-bottom: 10px;
}

.card-title {
  width: 100%;
  height: 29px;
  font-size: 21px;
  font-weight: 700;
  color: #231f20;
  margin: 16px 0;
}

.bs-stepper .step-trigger {
  display: block;
}

// .bs-stepper .step.active .step-trigger {
//   background-color: #00A79D;
//   color: #fff;
// }

.bs-stepper .step-trigger.disabled,
.bs-stepper .step-trigger:disabled {
  opacity: 1;
}

.bs-stepper .step.active .bs-stepper-circle {
  background-color: #00a79d;
}

.bs-stepper .bs-stepper-header .line {
  min-height: 6px;
  background-color: #ffffff;
}

.bs-stepper-header {
  display: flex;
  align-items: center;
  position: relative;
}

.bs-stepper .bs-stepper-header .line-progress {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  z-index: 1;
  min-height: 6px;
}

.bs-stepper .bs-stepper-header .step {
  position: relative;
  z-index: 2;
}

.prev-step .bs-stepper-circle {
  background-color: #ffffff;
  border: 2px solid #00a79d;
  color: #00a79d;
}

h1 {
  margin: 0;
}

/* bootstrap custom style */
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* component style */
.empty-card-history {
  background-color: #fefefe;
  border: 1px dashed #cbd5e1;
  color: #94a3b8;
  padding: 1rem 0rem;
  border-radius: 15px;
}

.history-title {
  font-size: 1.5rem;
}

.card-item {
  border-radius: 20px;
  box-shadow: none;
  border: 1px solid #e5e5e5;

  .card-title {
    font-size: 1.2rem;
  }
}

// upload image style
.upload-image-container {
  width: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f7f9ff;

  border: 1px dashed #cbd5e1;
  border-radius: 15px;

  padding: 4rem 0rem;
  margin: 0 auto;

  img {
    width: 5rem;
    object-fit: cover;
  }

  .content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: inline-block;
      margin-top: 1rem;
      color: #94a3b8;
    }
  }
}
