<div class="content">
    <h3 class="title">Reset Password</h3>

    <div *ngIf="errorAlert" class="alert alert-danger" style="position: relative; font-weight: 700" role="alert">
        {{ alertMessage }}
        <span class="close-alert" (click)="errorAlert = false"><i class="fa fa-times"></i></span>
    </div>

    <div *ngIf="successAlert" class="alert alert-success" style="position: relative; font-weight: 700" role="alert">
        {{ alertMessage }}
        <span class="close-alert" (click)="successAlert = false"><i class="fa fa-times"></i></span>
    </div>

    <ng-template *ngIf="page === 'main'" [ngTemplateOutlet]="ResPassMain"></ng-template>
    <ng-template *ngIf="page !== 'main'" [ngTemplateOutlet]="ResPassOnChangePass"></ng-template>
</div>

<ng-template #ResPassMain>
    <div *ngIf="response.status" class="alert alert-{{ response.color }} alert-dismissible fade show" style="position: relative" role="alert">
        <div class="d-flex align-items-center">
            <i *ngIf="response.color == 'danger'" class="fa fa-exclamation-triangle me-2" aria-hidden="true"></i>
            <div class="text-{{ response.color }}" style="white-space: break-spaces" [innerHTML]="response.message"></div>
        </div>

        <span class="close-alert" *ngIf="!tooManyRequest" (click)="closeAlert()"><i class="fa fa-times"></i></span>
    </div>

    <!-- <form [formGroup]="resetEmailForm" (submit)="send()">
        <div class="mt-4 text-input">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" autofocus>
        </div>

        <div class="remember mt-2">
            Ingat password ? Kembali ke <b><a routerLink="/login" class="sign-in">Masuk</a></b>
        </div>

        <button [disabled]="tooManyRequest" type="submit" class="btn btn-primary mt-4 btn-send">
            kirim instruksi
        </button>
    </form> -->
</ng-template>

<ng-template #ResPassOnChangePass>
    <!-- <form [formGroup]="changePasswordForm" (submit)="sendChangePassword()">
        <div class="mt-4 text-input" style="position: relative">
            <label for="passwordBaru">New Password</label>
            <input [type]="showPasswordBaru ? 'text' : 'password'" id="passwordBaru" class="form-control" placeholder="New Password" autofocus>
            <span class="show-password" (click)="showPasswordBaru = !showPasswordBaru"><i class="{{ showPasswordBaru ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i></span>
        </div>

        <div class="mt-4 text-input" style="position: relative">
            <label for="konfirmasiPasswordBaru">New Password Confirmation</label>
            <input [type]="showKonfirmasPasswordBaru ? 'text' : 'password'" id="konfirmasiPasswordBaru" class="form-control" placeholder="New Password Confirmation">
            <span class="show-password" (click)="showKonfirmasPasswordBaru = !showKonfirmasPasswordBaru"><i class="{{ showKonfirmasPasswordBaru ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i></span>
        </div>

        <button [disabled]="tooManyRequest" class="btn btn-primary mt-4 btn-send" type="submit">
            reset password
        </button>
    </form> -->
</ng-template>
