.content {
    min-width: 400px;
}

h3.title {
    font-weight: 700;
    font-size: 36px;
    color: #111;
}

.btn-send {
    background-color: #21409A;
    width: 100%;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 0;
    border-radius: 8px;
}

.remember-me {
    color: #64748B;
    font-size: 14px !important;
}


.sign-in {
    color: #21409A !important;
    font-weight: 400;
}

.text-input label {
    display: block;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #231f20;
    font-size: 16px;
    margin-bottom: 10px;
}

.text-input input {
    width: 100%;
    border: 1px solid #CBD5E1;
    padding: 14px;
    border-radius: 8px;
    height: 40px;
    font-size: 14px;
}

.close-alert {
    position: absolute;
    right: 0;
    top: .25rem;
    padding: 10px;
    cursor: pointer;
}

.show-password {
    position: absolute;
    right: 0;
    top: 2.25rem;
    padding: 10px;
    cursor: pointer;
}