<div>
  <p style="color: #111; font-weight: bold; font-size: 36px">Reset Password</p>

  <alert *ngIf="successAlert" type="success" [dismissible]="true" (onClosed)="successAlert = false"><span style="font-size: 1rem; font-weight: bold">{{ message }}</span></alert>
  <alert *ngIf="dangerAlert" type="danger" [dismissible]="true" (onClosed)="dangerAlert = false"><span style="font-size: 1rem; font-weight: bold">{{ message }}</span></alert>

  <form class="mt-4" [formGroup]="changePasswordForm" (submit)="onSubmit()">
    <div class="mb-3" style="position: relative;">
      <label for="password" class="form-label">Password Baru</label>
      <input [type]="showedPassword ? 'text' : 'password'" class="form-control form-control-lg" id="password" placeholder="Masukkan password baru Anda" formControlName="password">

      <div class="position-absolute" style="top: 55%; right: 1rem">
        <i class="far{{ showedPassword ? ' fa-eye ' : ' fa-eye-slash ' }}fa-1x" style="cursor: pointer;" (click)="showedPassword = !showedPassword"></i>
      </div>
    </div>

    <div class="mb-3" style="position: relative;">
      <label for="passwordConfirmation" class="form-label">Konfirmasi Password Baru</label>
      <input [type]="showedPasswordConfirmation ? 'text' : 'password'" class="form-control form-control-lg" id="passwordConfirmation" placeholder="Konfirmasi password baru Anda" formControlName="passwordConfirmation">

      <div class="position-absolute" style="top: 55%; right: 1rem">
        <i class="far{{ showedPasswordConfirmation ? ' fa-eye ' : ' fa-eye-slash ' }}fa-1x" style="cursor: pointer;" (click)="showedPasswordConfirmation = !showedPasswordConfirmation"></i>
      </div>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-lg">
        <div *ngIf="loadingState" class="spinner-border spinner-border-sm text-light me-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span>RESET PASSWORD</span>
      </button>
    </div>
  </form>
</div>
