<div class="row main">
    <div class="col-6 d-flex flex-column align-items-baseline">
        <div class="d-flex logo-top ms-5" >
            <img class="logo" src="assets/images/DH_Logo/HealthID%20-%20logo%202.svg" alt="Health ID Logo"><!-- (click)="throwTestError()" -->
            <div class="relative" style="top : -7px">
                <span class="company" style="font-weight: 700;">Health ID Admin</span>
                <span class="blue-line" style="top: 58px;"></span>
            </div>
        </div>
        <div style="width: 100%; flex: 1 1 0; display: flex; align-items: center; justify-content: center">
            <img class="left-img" src="assets/images/auth-image.svg" alt="">
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div class="d-flex justify-content-center flex-column" style="max-width: 400px">
            <router-outlet></router-outlet>
        </div>
    </div>
    <img class="shape_1" src="assets/images/shape-triangle.svg" alt="">
<!--    <span class="version">Web Admin Inisa V1.4.4.9</span>-->
</div>
