/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Thin.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 100;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-ThinItalic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraLight.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 200;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraLightItalic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Light.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 300;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-LightItalic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Regular.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 400;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Italic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Medium.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 500;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-MediumItalic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-SemiBold.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 600;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-SemiBoldItalic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Bold.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 700;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-BoldItalic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraBold.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 800;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-ExtraBoldItalic.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-Black.ttf") format('ttf');
}

@font-face {
  font-family: Hanken Grotesk;
  font-style: italic;
  font-weight: 900;
  src: url("assets/fonts/Hanken_Grotesk/static/HankenGrotesk-BlackItalic.ttf") format('ttf');
}

.custom-transition {
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.min-h-main-body {
  min-height: calc(100vh - 96px);
}

@media (min-width: 1024px) {
  .w-main-topbar-300 {
    width: calc(100vw - 300px) !important;
  }

  .w-main-topbar-100 {
    width: calc(100vw - 100px) !important;
  }
}

.custom-scrollbar {
  scroll-behavior: smooth;
  //scrollbar-width: thin;
  //scrollbar-color: #aaa white;
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  //height: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  //background: #555;
}

//html {
//  font-family: Hanken Grotesk, system-ui, sans-serif !important;
//}

p {
  margin-bottom: 0 !important;
}

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* CUSTOM */

.info-wrap-imi {
  display: flex;
  align-items: center;
  margin-top: -35px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.info-1 {
  display: block;
  color: #989898;
  font-size: 1rem;
}

.info-2 {
  display: block;
  width: 57px;
  margin: 0 8px;
  z-index: 1;
}

.info-3 {
  display: block;
  width: 200px;
  color: #989898;
  font-size: 1rem;
}


// CARD
.card-header h1 {
  font-size: 18px;
  color: #495057;
}

.card-transparent,
.card-transparent .card-header {
  background: transparent;
}

.card-transparent .card-header {
  padding-left: 0;
  padding-right: 0;
}

.card-transparent .card-body {
  border-top: 4px solid #009aad;
  background: #fff;
}


.ng-select {
  min-width: 270px;
}

.ng-select-multiple .ng-select-container {
  height: 37px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  padding-top: 5px;
}

.ng-select.custom .ng-select-container {
  height: 43px;
}

.ng-select.custom .ng-value-container {
  padding-left: 16px;
  padding-right: 16px;
}

.ng-select.custom .ng-input input {
  height: 23px;
  margin-top: 7px;
  font-size: 16px;
  color: #495057aa !important;
  margin-left: 8px;
}

.ng-select.custom .ng-option-label {
  font-size: 16px;
}

.ng-select.custom .ng-value-label,
.ng-select.custom .ng-placeholder {
  color: #495057aa !important;
  font-size: 16px;
}

.search-input {
  padding-left: 40px;
  height: 100%;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #CBD5E1;
  border-radius: 0 8px 8px 0;
  width: 340px;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: #64748B;
  font-size: 14px;
}

.icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 20px;
}

.relative {
  position: relative;
  height: 50px;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


.bg-overview:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.table-light {
  background-color: #fff !important;
}

.table-row:hover {
  cursor: pointer;
}

table > thead > tr > th {
  padding: 24px 0.75rem !important;
}

.table-light {
  background-color: #F5F6F8 !important;
}

.form-control {
  border-radius: 6px !important;
  border: 1px solid #686868 !important;
  background: #FFF !important;

  &:hover {
    border-radius: 6px !important;
    border: 1.8px solid #1E1E1E !important;
    background: #FFF !important;
  }

  &:focus {
    border-radius: 6px !important;
    border: 1.9px solid #21409A !important;
    background: #FFF !important;
  }
}

.ng-select-container {
  border-radius: 6px !important;
  border: 1px solid #686868 !important;
  background: #FFF !important;

  &:hover {
    border-radius: 6px !important;
    border: 1.8px solid #1E1E1E !important;
    background: #FFF !important;
  }

  &:focus {
    border-radius: 6px !important;
    border: 1.9px solid #21409A !important;
    background: #FFF !important;
  }
}

.is-invalid {
  border-radius: 6px !important;
  border: 1.8px solid #E04040 !important;
  background: #FFF !important;
  color: #E04040 !important;
}

/* Set background color for all rows */
table > tbody > tr > td {
  background-color: #ffffff !important;
}

/* Set background color for stripped (every other) rows */
table > tbody > tr:nth-child(even) > td {
  background-color: #F5F6F8 !important;
}

.top-header > div > svg {
  margin-top: 0px !important;
}
