<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="title-page">
                User Management - User
            </div>
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="card-title" style="width: fit-content">
                            User List
                        </div>
                        <div class="mx-1">
                            <!-- <button type="button" class="btn btn-primary rounded-8" (click)="createUser(formUser)">
                                <i class="fa fa-plus mr-2"></i>
                                <span class="text-button">Tambah</span>
                            </button> -->
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center" style="padding-top: .5rem;">
                        <div class="row limit pl-3">
                            <div class="d-flex">
                                <!-- <ng-select class="custom" bindLabel="" [bindValue]="" [items]="listUserKey" placeholder="Pilih Parameter"></ng-select> -->
                                <div class="relative">
                                    <!-- <input type="text" [(ngModel)]="filter" placeholder="Cari berdasarkan parameter" class="search-input" (keyup)="reloadDataTable()" /> -->
                                    <i class="fa fa-search icon-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <!-- <button type="button" class="btn btn-sm btn-primary mr-2" *ngIf="authService.checkAccess('user.create')" (click)="createUser(formUser)"> -->
<!--                            <div class="dropdown mr-3" ngbDropdown>-->
<!--                                <button class="btn btn-outline-primary dropdown-toggle w-100 py-2 px-3" type="button" id="dropdownImport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>-->
<!--                                    <i class="text fa fa-upload mr-2" style="margin-top: 3px;"></i>-->
<!--                                    <span class="text-button">-->
<!--                                        Import-->
<!--                                    </span>-->
<!--                                    <i class="fa fa-caret-down ml-1 val" style="margin-bottom: 3px;" aria-hidden="true"></i>-->
<!--                                </button>-->
<!--                                <div class="dropdown-menu dropdown-menu-right text-center w-100" aria-labelledby="dropdownImport" ngbDropdownMenu>-->
<!--                                    <a class="dropdown-item" href="#">Excel</a>-->
<!--                                    <a class="dropdown-item" href="#">PDF</a>-->
<!--                                    <a class="dropdown-item" href="#">CSV</a>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="dropdown" ngbDropdown>
                                <button class="btn btn-outline-primary dropdown-toggle w-100 py-2 px-3 rounded-8" type="button" id="dropdownExport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                    <i class="text fa fa-download mr-2" style="margin-top: 3px;"></i>
                                    <span class="text-button">
                                        Export
                                    </span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right text-center w-100" aria-labelledby="dropdownExport" ngbDropdownMenu>
                                    <!-- <a class="dropdown-item cursor-pointer" (click)="downloadExcel()">Excel</a> -->
                                    <a class="dropdown-item cursor-pointer" (click)="downloadPDF()">PDF</a>
                                    <a class="dropdown-item cursor-pointer" (click)="downloadCSV()">CSV</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0">
                    <div class="table-responsive">
                        <!-- <table class="table table-striped table-hover" id="userList" datatable [dtOptions]="dtOptions">
                            <thead style="background-color: #E2E8F0">
                                <tr>
                                    <th class="text-center" style="width: 5%;">No</th>
                                    <ng-container *ngIf="!saasMode">
                                        <th class="text-center">Nama</th>
                                        <th class="text-center">NIK</th>
                                      </ng-container>
                                      <ng-container *ngIf="saasMode">
                                        <th class="text-center">Q-Tag</th>
                                        <th class="text-center">Nama</th>
                                      </ng-container>
                                    <th class="text-center">No. HP</th>
                                    <th class="text-center">Email</th>
<!--                                    <th class="text-center" style="width: 5%;">Source</th>-->
                                    <!-- <th class="text-center">Status</th>
                                    <th class="text-center" style="width: 5%;">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of listUser; index as i" [class.bg-white]="(i % 2) == 0" [class.bg-second]="(i % 2) == 1">
                                    <td class="align-middle text-center">{{user.no}}</td>
                                    <ng-container *ngIf="!saasMode">
                                        <td class="align-middle">
                                            <span *ngIf="user.Fullname == '' || user.Fullname == null">-</span>
                                            <span>{{user.Fullname}}</span>
                                        </td>
                                        <td class="align-middle">
                                            <span *ngIf="user.NIK == '' || user.NIK == null">-</span>
                                            <span>{{user.NIK}}</span>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="saasMode">
                                        <td class="align-middle">
                                            <span *ngIf="user.QTag == '' || user.QTag == null">-</span>
                                            <span>{{user.QTag}}</span>
                                        </td>
                                        <td class="align-middle">
                                            <span *ngIf="user.Fullname == '' || user.Fullname == null">-</span>
                                            <span>{{user.Fullname}}</span>
                                        </td>
                                    </ng-container>
                                    <td class="align-middle">
                                        <span *ngIf="user.Phone == '' || user.Phone == null">-</span>
                                        <span>{{user.Phone}}</span>
                                    </td>
                                    <td class="align-middle">
                                        <span *ngIf="user.Email == '' || user.Email == null">-</span>
                                        <span>{{user.Email}}</span>
                                    </td>
<!--                                    <td class="align-middle text-center">-->
<!--                                        <button class="btn btn-outline-primary" ngbTooltip="{{ user.Source === 'web' ? 'Website' : user.Source === 'office' ? 'Office' : 'Application' }}">-->
<!--                                            <i class="fa fa-{{ user.Source === 'web' ? 'globe' : user.Source === 'office' ? 'building' : 'mobile' }}" aria-hidden="true"></i>-->
<!--                                        </button>-->
<!--                                    </td>-->
                                    <!-- <td class="align-middle">
                                        <div class="text-center py-2" [ngClass]="{'status-success': user.Status, 'status-danger': !user.Status}">
                                            <span class="text-success" *ngIf="user.Status">Aktif</span>
                                            <span class="text-danger" *ngIf="!user.Status">Tidak Aktif</span>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <button class="btn btn-outline-primary" (click)="openDetail(user.Id)" ngbTooltip="Detail">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="table-danger" *ngIf="totalRecord == 0">
                                    <td [attr.colspan]="10" class="text-center">
                                        Data tidak ditemukan
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                        <div class="info-wrap-imi" *ngIf="totalRecord != 0">
                            <div class="info-1">Tampilkan</div>
                            <select
                                id="inputLimit"
                                class="form-control info-2"
                                style=" background-color: #FEFEFE !important; border: 1px solid #CBD5E1 !important; padding: 0.47rem 0.75rem"
                                name="showFilter"
                                (change)="clickLimit()">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <!-- <select
                                [(ngModel)]="nowShowsNUmber"
                                id="inputLimit"
                                class="form-control info-2"
                                style=" background-color: #FEFEFE !important; border: 1px solid #CBD5E1 !important; padding: 0.47rem 0.75rem"
                                name="showFilter"
                                (change)="clickLimit()">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> -->
                            <div class="info-3">dari {{ totalRecord }} data</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #formUser let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <i class="mdi mdi-close-thick"></i>
        </button>
    </div>
    <div class="modal-body">
        <app-form-user (batal)="modal.close(); reloadDataTable()" [userId]="userId" (afterSave)="modal.close(); reloadDataTable()"></app-form-user>
    </div>
</ng-template> -->

<div id="exportPDF">
    <p class="exportTitle">{{ exportPDF.title }}</p>

    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th class="text-center" *ngFor="let header of exportPDF.header" [width]="header.width">{{ header.column }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of exportPDF.records">
                <td *ngFor="let header of exportPDF.header">{{ data[header.key] }}</td>
            </tr>
        </tbody>
    </table>
</div>
